body::after, body::before {
  /* these are the 2 half blocks which cover the content once the animation is triggered */
  height: 50vh;
  width: 100%;
  position: fixed;
  left: 0;
}
body::before {
  top: 0;
  transform: translateY(-100%);
}
body::after {
  bottom: 0;
  transform: translateY(100%);
}
body.page-is-changing::after, body.page-is-changing::before {
  transform: translateY(0);
}

.chat-header {
  position: relative;
}

.chat-header-head {
  margin-top: 2%;
  font-size: 30px;
  text-align: center;
}

.chat-header-close-btn {
  position: absolute;
  right: 4%;
  top: 1%;
  font-size: 25px;
  font-weight: 300 !important;
  color: black !important;
}

.chat-header-desc {
  margin-top: 7%;
  font-size: 30px;
  text-align: center;
}

.chat-listbox {
  margin-top: 5%;
}

.chat-list {
  height: 140px;
  padding: 15px 0 !important;
  padding-right: 5% !important;
  padding-left: 160px !important;
  font-size: 30px;
}

.chat-list-img {
  max-height: 100% !important;
  max-width: 100% !important;
  height: 140px !important;
  width:  140px !important;
  object-fit: cover !important;
  margin: 10px 10px !important;
  border-radius: 50%;
  /*width: 100%;*/
  overflow: hidden;
  top: 2% !important;
}

.chat-list-name {
  position: relative;
  z-index: 50;
  display: block;
  width: 100%;
}

.chat-list-unread-badge {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: black;
  border-radius: 50%;
  padding: 0;
  font-size: 20px;
  font-weight: 200;
  color: white;
  line-height: 22px;
  vertical-align: top;
}

.chat-list-lastchat-date {
  position: absolute;
  display: inline-block;
  width: auto;
  right: -5%;
  font-size: 24px;
  font-weight: 300;
}

.chat-list-msg {
  display: block;
  margin-top: 1%;
  font-size: 27px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

.chat-list-match-status, .chat-list-event-date {
  display: inline-block;
  margin-top: 1%;
  font-size: 25px;
  font-weight: 300;
}
