@CHARSET "UTF-8";

#chat-msg-container {
	position: relative;
  height: 100%;
  width: 100%;
}

  .chat-msg-headerbox {
  position: fixed;
  top: 0;
  display: block;
  height: 6.6vh;
  width: 100%;
  text-align: center;
  line-height: 6.6vh;
  color: white;
  background-color: black;
  z-index: 50;
  font-size: 96%;
  font-weight: 300;
}

.chat-msg-header {
  display: inline-block;
}

.back-btn {
  position: absolute;
  top: -4%;
  left: 3%;
  color: white;
  font-size: 160%;
  font-weight: 300;
}



#messageBox {
	position: fixed;
  overflow:scroll;
  width: 100%;
  height: 84.4vh;
  padding: 0;
  padding-top: 83vh;
  padding-bottom: 10px;
   top: 6.6vh;
  box-sizing: content-box;
  vertical-align: bottom;
}

.sender-img {
	position: absolute;
	display: inline-block;
	top: -25px;
	left: -60px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	overflow: hidden;
	object-fit: cover;
	border: none;
}

 .chat-balloon {
  position: relative;
  display: inline-block;
  clear: both;
  padding: 1% 3%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 1%;
  font-size: small;
  max-width: 50%;
}

.him {
  background: #eee;
  float: left;
  margin-left: 65px;
}

.me {
  float: right;
  background: #272727;
  color: #fff;
  margin-right: 15px;
}

.tail {
	position: absolute;
  display: inline-block;
  z-index: -1;
  top: 0%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.me-tail {
  right: -5px;
  background-color: #272727;
}

.him-tail {
  left: -5px;
  background-color: #eee;
}

.tail-white {
	position: absolute;
  display: inline-block;
  z-index: -1;
  top: -5px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.me-tail-white {
  right: -5px;
}

.him-tail-white {
  left: -5px;
}

.me+.me > div, .him+.him > div, .him+.him > img{
  display: none;
}

.me + .him {
	margin-top: 35px;
}

.him + .me {
	margin-top: 10px;
}




.message-input-box {
	position: fixed;
	height: 7vh;
	max-height: 10vh;
	bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 0.5px solid lightgray;
  vertical-align: middle;
  line-height: 7vh;
  padding: 0;
  background-color: white;
}


.msg-input {
	position: absolute;
  left: 4%;
	top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 70%;
  height: 4vh;
  max-height: 8vh;
  outline: none !important;
  overflow:visible;
  padding: 0;
  font-size: 90%;
  border: none !important;
  white-space: pre;

}


#send-btn {
	position: absolute;
	right: 4%;
	top: 50%;
	transform: translateY(-50%);
	border: none !important;
  font-size: 1em;
  text-align: center;
  border-radius: 50px;
  /* line-height: 95px; */
  box-sizing: border-box;
  background-color: white !important;
}
/*
.hidden-submit-btn {
	visibility:hidden;
	position:absolute;
	display: inline-block;
  width: 70%;
  padding: 0;
  font-size: 90%;
  border: none !important;
} */
