@CHARSET "UTF-8";
body {
	background-color: #f5f5f5;
}

.event-list-container {
  position: absolute;
  top: 100px;
  padding-top: 150px;
  padding-bottom: 10vh;
  text-align: center;
  width: 100%;
  background-color: #f5f5f5;
}

/*event 없는 경우 시작*/
.no-event {
  position: relative;
  margin-top: 30%;
  hegiht: auto;
  width: 100%;
  font-size: 40px;
  text-align: center;
  color: darkgray;
}

#no-event-cry {
  font-size: 100px;
}

.event-add-btn {
  position: absolute;
  font-size: 35px;
  font-weight: 400;
  height: 65px;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  border: 1px solid white;
  line-height: 60px;
  color: white;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .85);
}
/*event 없는 경우 끝*/


/*헤더 시작*/
  .event-list-headerbox {
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
  height: 120px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 120px;
}

.event-list-header {
  display: inline-block;
  font-size: 250%;
  font-weight: normal;
}

.back-btn {
  position: absolute;
  left: 3%;
  color: white;
  line-height: 110px;
  font-size: 400%;
}
/*헤더 끝*/

/*카테고리 바 시작*/
#event-type-btn-container {
  position: relative;
  width: 100%;
  top: 120px;
  height: 100px;
  background-color: white;
  z-index: 12;
  border-bottom: 1px solid lightgray;
}

#event-type-btn-container > div {
  float: left;
  width: 50%;
  height: 100%;
  font-size: 2.3rem;
  text-align: center;
  line-height: 100px;
  border-collapse: collapse;
}

#event-type-appy-btn {
  border-bottom: 4px solid lightseagreen;
}

.category-main {
  position: relative;
}
/*카테고리 바 끝*/



/*지원한 이벤트 리스트 시작*/
.appy {
  position: relative;
  background-color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.58);
  height: auto;
  width: 100%;
  margin-bottom: 8%;
  text-align: center;
  color: white;
  z-index: 1;
}


  .event-box:focus, .event-box:hover, .event-box:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
.appy-edit-btn {
  position: absolute;
  display: inline-block;
  color: #444;
  font-weight: 400;
  font-size: 4em;
  top: 3px;
  right: 2%;
  transform: translateX(3%);
}

.appy-title {
  margin-top: 3%;
  margin-left: 3%;
  font-size: 32px;
  font-weight: 400;
  color: black;
  width: 90%;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
  text-align: left;
}

.appy-dday {
  display: inline-block;
  color: white;
  font-size: 30px;
  font-weight: 400;
  width: auto;
  padding-left: 1.5%;
  padding-right: 1.5%;
  background-color: #000000;
  /* border: 1px solid black; */
  border-radius: 6px;
  line-height: 46px;
  height: 48px;
}

.appy-title > span {
  display: inline-block;
  font-size: 37px;
}

.appy-date {
  color: black;
  font-size: 35px;
  font-weight: 300;
  margin-top: 1%;
  width: auto;
  white-space: nowrap;
}

.appy-area {
  color: black;
  font-size: 35px;
  font-weight: 300;
  margin-top: 1%;
  width: auto;
  white-space: nowrap;
}

.appy-price {
  margin-top: 1%;
  margin-bottom: 2%;
  font-size: 35px;
  font-weight: 500;
  color: black;
  white-space: nowrap;
}

/*작성자 시작*/
.appy-musibox {
  position: relative;
  margin-top: 2%;
  color: black;
  width: 100%;
  height: 240px;
  z-index: 2;
}

.appy-musibox-title {
  position: absolute;
  left: 12%;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  font-size: 32px;
  font-weight: 500;
  white-space: nowrap;
  color: #444;
}

.appy-writer-block {
  width: 100%;
  text-align: center;
}

.appy-writer {
  
  
}

.appy-writer-img {
  display: inline-block;
  height: 100px;
  width: 100px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}

.appy-writer-name {
  display: block;
  color: black;
  font-size: 27px;
  font-weight: 500;
  bottom: 40%;
}


.appy-writer-btn {
  position: absolute;
   display: inline-block;
   width: 200px;
   height: 50px;
   text-align: center;
   line-height: 50px;
   font-size: 1.7rem;
   color: black;
   background: white;
   border: 1px solid black;
   border-radius: 10px;
   bottom: 15%;
   transform: translateX(-50%);
   left: 50%;
}
/*작성자 끝*/
/*지원한 이벤트 리스트 끝*/



/*제안받은 이벤트 리스트 시작*/
.pr {
  position: relative;
  background-color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid #bebbbb;
  min-height: 154px;
  width: 100%;
  margin-bottom: 3%;
  text-align: left;
  color: white;
  padding-bottom: 4%;
  z-index: 1;
}

.pr-writer-img {
  display: inline-block;
  height: 90px;
  width: 90px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  overflow: hidden;
  margin-left: 3%;
  margin-top: 3%;
}


.pr-title {
	display: inline-block;
  margin-left: 3%;
  font-size: 32px;
  font-weight: 400;
  color: black;
  width: 80%;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
  text-align: left;
}

.pr-writer-name {
  font-size: 27px;
  color: gray;
}

.pr-title > span {
  display: inline-block;
  font-size: 37px;
  vertical-align: super;
}


.pr-date {
  color: black;
  font-size: 34px;
  font-weight: 400;
  margin-top: 1%;
  margin-left: 4%;
  width: auto;
  white-space: nowrap;
}

.pr-dday {
  display: inline-block;
  color: white;
  font-size: 30px;
  font-weight: 400;
  width: auto;
  padding-left: 1.5%;
  padding-right: 1.5%;
  background-color: lightseagreen;
  border-radius: 6px;
  line-height: 46px;
  height: 48px;
}

.pr-date > span {
  margin-left: 4%;
}

.pr-price {
	display: inline-block;
  margin-top: 1%;
  margin-left: 4%;
  font-size: 35px;
  font-weight: 500;
  color: black;
  width: auto;
  white-space: nowrap;
}

.pr-area {
  color: black;
  font-size: 35px;
  font-weight: 300;
  margin-top: 1%;
  margin-left: 4%;
  width: auto;
  white-space: nowrap;
}

.pr-hashtagbox {
  margin-top: 1%;
  margin-bottom: 5%;
  margin-left: 4%;
  font-size: 34px;
  font-weight: 300;
  color: black;
  width: 95%;
  overflow: hidden;
  max-height: 155px;
}

.pr-hashtagbox > span {
  float: left;
  margin-right: 4%;
}

.pr-btnbox {
  text-align: center;
}

.pr-btn {
  display: inline-block;
  width: 35%;
  height: 60px;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  color: black;
  border-radius: 10px;
  line-height: 56px;
  z-index: 5;
}

.pr-reject-btn {
  margin-right: 6%;
}

.pr-accept-btn {
  background-color: black;
  color: white;
  font-weight: 500;
}

.pr-no-btn {
  display: none;
}

/*제안받은 이벤트 리스트 끝*/


