@CHARSET "UTF-8";

/* 이벤트 공통 시작 */

#container {
  position: relative;
}

#event-progressbar {
  position: absolute;
  width: 86%;
  height: 10%;
  left: 7%;
  bottom: 10%;
  border: 2px solid #525252;
  border-radius: 25px;
  z-index: 11;
}

#event-page {
  position: absolute;
  height: 300px;
  width: 100%;
}

#event-cancelbtn {
  position: absolute;
  font-size: 260%;
  left: 8%;
  top: 22%;
}

#event-progress {
  position: absolute;
  top: 200px;
  height: 150px;
  width: 100%;
  background-color: white;
}

#event-page-text {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  font-size: 300%;
  font-weight: normal;
}

#event-page1, #event-page2, #event-page3, 
#event-page4, #event-page5, #event-page6, #event-page8 {
  display: none;
  position: fixed;
  top: 250px;
  width: 100%;
  height: 90%;
  background-color: white;
}

#event-page1-btn, #event-page2-btn, #event-page3-btn, 
#event-page4-btn, #event-page5-btn, #event-page6-btn, #event-page8-btn {
  position: absolute;
  height: 10%;
  width: 100%;
  bottom: 10%;
  display: inline-block;
}

#event-page1-cancel, #event-page2-prev, #event-page3-prev,
#event-page4-prev, #event-page5-prev, #event-page6-prev {
  position: absolute;
  left: 10%;
  font-size: 300%;
}

#event-page1-next, #event-page2-next, #event-page3-next,
#event-page4-next, #event-page5-next, #event-page6-next {
  position: absolute;
  right: 10%;
  font-size: 300%;
}

#event-page2-text, #event-page3-text, #event-page4-text,
#event-page5-text, #event-page6-text {
  position: absolute;
  color: black;
  top: 5%;
  font-size: 300%;
  font-weight: normal;
  text-align: center;
  width: 100%;
}

select {
	-webkit-appearance: none;  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
	background: url(../ARMU-Image/ARMU_icon/mobile_icon/select-arrow.png) no-repeat 95% 50%;
  background-color: white;
  border: 5px solid #525252;
  color: #525252;
  position: absolute;
}

select::-ms-expand {
  display: none;
}

/* 이벤트 공통 끝 */

/* 이벤트 취소 페이지 시작 */

#event-cancelpage {
  display: none;
  width: 90%;
  left: 5%;
  top: 400px;
  height: 700px;
  position: absolute;
  border-radius: 25px;
  background-color: white;
  z-index: 14;
}

#event-cancelpage-backscreen {
	display: none;
	position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 13;
}

#event-cancelpage-text {
	position: absolute;
  color: black;
  top: 15%;
  font-size: 4em;
  font-weight: 500;
  text-align: center;
  width: 100%;
}

#event-cancelpage-return {
	position: absolute;
  height: 10%;
  width: 28%;
  bottom: 10%;
  display: inline-block;
  position: absolute;
  left: 8%;
  font-size: 300%;
}

#event-cancelpage-quit {
	position: absolute;
  height: 10%;
  width: 16%;
  bottom: 10%;
  display: inline-block;
  position: absolute;
  right: 7%;
  font-size: 300%;
}

/* 이벤트 취소 페이지 끝 */


/* 이벤트 페이지 1 시작 */


#event-page1-text {
	position: absolute;
	color: black;
	top: 20%;
	font-size: 4.5em;
	font-weight: 600;
	text-align: center;
	width: 100%;
}

/* 이벤트 페이지 1 끝 */

/* 이벤트 페이지 2 시작 */

#theme-select-menu, #major-select-menu, #genre-select-menu,
#sido-select-menu, #city-select-menu, #street-select-menu {
	padding-left: 4%;
  width: 28%;
  height: 10%;
  top: 33%;
  font-size: 30px;
}

.select-option {
	font-size: 12px;
}

#theme-text {
  position: absolute;
  top: 25%;
  left: 16%;
  font-size: 2.5em;
  color: #525252;
}

#theme-select-menu {
	left: 7%;
}

#major-text {
  position: absolute;
  top: 25%;
  left: 45%;
  font-size: 2.5em;
  color: #525252;
}

#major-select-menu {
  left: 37%;
}

#genre-text {
  position: absolute;
  top: 25%;
  left: 76%;
  font-size: 2.5em;
  color: #525252;
}

#genre-select-menu {
  left: 67%;
}

/* 이벤트 페이지 2 끝 */

/* 이벤트 페이지 3 시작 */

.ui-datepicker {
	position: absolute;
	top: 15%;
	width: 98%;
	height: 57%;
	font-size: 3em;
}

.ui-datepicker .ui-widget.ui-widget-content {
	border: 1px solid rgba(197, 197, 197, 0);
}

.ui-datepicker .ui-datepicker-header {
  background-color: #000000;
  border: 1px solid #ffffff;
}

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
  color: white;
  font-weight: lighter;
}

.ui-datepicker .ui-datepicker table {
    width: 100%;
    padding: 20px;
    color: #888888;
    margin: 0 0 .4em;
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: normal;
    border: 0;
    color: #444444;
}

.ui-datepicker .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid white;
    font-weight: normal;
    color: #454545;
    text-align: center;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
     background: white;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: normal;
    color: #ffffff;
}

.ui-datepicker .ui-datepicker-prev .ui-icon { 
	width: 32px; height: 32px;
  background: url(../ARMU-Image/ARMU_icon/mobile_icon/prev.png) top left no-repeat; 
  }
  
.ui-datepicker .ui-datepicker-next .ui-icon { 
	 width: 32px; height: 32px;
  background: url(../ARMU-Image/ARMU_icon/mobile_icon/next.png) top left no-repeat;  
	}

/* 이벤트 페이지 3 끝 */

/* 이벤트 페이지 4 시작 */

#location-select {
  width: 100%;
  position: relative;
  top: 10%;
  height: 70%;
}

#sido-select-menu, #city-select-menu, #street-select-menu{
  width: 69%;
  height: 12%;
  left: 15%;
}

#sido-select-menu {
	top: 17%;
}

#city-select-menu {
  top: 35%;
}

#street-select-menu {
  top: 53%;
}

#detail-location {
  position: absolute;
  left: 15%;
  bottom: 16%;
  width: 64%;
  height: 12%;
  border: 5px solid #525252;
  color: #525252;
  padding-left: 4%;
  font-size: 2.6em;
}

/* 이벤트 페이지 4 끝 */

/* 이벤트 페이지 5 시작 */

#event-input {
	width: 100%;
  position: relative;
  top: 10%;
  height: 70%;
}

#event-name, #event-pay, #event-require {
	position: absolute;
  left: 15%;
  width: 64%;
  height: 12%;
  border: 5px solid #525252;
  color: black;
  padding-left: 4%;
  font-size: 2.6em;
}

#event-name {
  top: 20%;
}

#event-name-text{
	color: black;
	font-size: 2.6em;
	position: absolute;
	left: 15%;
	top: 12%;
}

#event-pay {
  bottom: 41%;
}

#event-pay-text{
  color: black;
  font-size: 2.6em;
  position: absolute;
  left: 15%;
  bottom: 56%;
}

#event-require {
  bottom: 13%;
}

#event-require-text{
  color: black;
  font-size: 2.6em;
  position: absolute;
  left: 15%;
  bottom: 28%;
}

/* 이벤트 페이지 5 끝 */

/* 이벤트 페이지 7 시작 */


#event-page7 {
	display: none;
  position: relative;
  top: 300px;
  width: 100%;
  height: 1500px;
  background-color: white;
}

#event-page7-text {
	position: absolute;
  color: black;
  font-size: 300%;
  font-weight: normal;
  text-align: center;
  width: 100%;
}

#event-page7-btn {
  position: absolute;
  height: 10%;
  width: 100%;
  bottom: 0%;
  display: inline-block;
}

#event-page7-prev {
  position: absolute;
  left: 10%;
  font-size: 300%;
  bottom: 25%;
}

#event-page7-next {
  position: absolute;
  right: 10%;
  font-size: 300%;
  bottom: 25%;
}

#event-confirm-list {
  width: 100%;
  position: absolute;
  top: 0%;
  height: 90%;
}

#name-confirm, #cathgory-confirm, #date-confirm, #match-confirm,
#location-confirm, #pay-confirm, #require-confirm {
	  position: absolute;
    left: 7%;
    width: 86%;
    height: 7%;
    border: 0px;
    border-bottom: 1px solid black;
    background-color: white;
    color: black;
    font-size: 2.5em;
    outline: none;
}

#name-confirm-text, #cathgory-confirm-text, #date-confirm-text, #match-confirm-text,
#location-confirm-text, #pay-confirm-text, #require-confirm-text {
    position: absolute;
    left: 7%;
    border: 0px;
    color: #252525;
    font-size: 1.75em;
}

#name-confirm {
	top: 12%;
}

#name-confirm-text {
  top: 8%;
}

#cathgory-confirm {
	top: 24%;
}

#cathgory-confirm-text {
  top: 20%;
}

#date-confirm {
	top: 36%;
}

#date-confirm-text {
  top: 32%;
}

#match-confirm {
	top: 48%;
}

#match-confirm-text {
  top: 44%;
}

#location-confirm {
	top: 60%;
}

#location-confirm-text {
  top: 56%;
}

#pay-confirm {
	top: 72%;
}

#pay-confirm-text {
  top: 68%;
}

#require-confirm {
	height: 14%;
	top: 84%;
}

#require-confirm-text {
  top: 80%;
}
/* 이벤트 페이지 7 끝 */

/* 이벤트 페이지 8 시작 */

#event-page8-text {
  position: absolute;
  color: black;
  top: 20%;
  font-size: 4.5em;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

#event-page8-home {
  position: absolute;
  height: 100px;
  left: 43%;
  bottom: 0%;
  font-size: 3em;
  font-weight: normal;
}

/* 이벤트 페이지 8 끝 */