
/*헤더부분*/
#header-container {
  height: 250px;
position: relative;
  width: 100%;
/*  background-position: center;
  background-repeat: no-repeat; */
/*  background-image: url("../ARMU-Image/WEB/1_Home/main_head.jpg"); */
}

#header-menu-box {
  height: auto;
  width: 100%;
}

.header-menu {
  float: right;
  color: black;
  font-size: 200%;
  margin: 4%;
}

#header-menu-search{
  position: absolute;
  right: 3%;
  transform: translateX(-3%);
}

#header-menu-logo {
  position: absolute;
  right: 37%;
  transform: translateX(-37%);
  top: 8%;
  transform: translateY(-40%);
 }

#header-menu-menu {
  position: absolute;
  left: 3.5%;
  transform: translateX(-3.5%);
}

#header-menu-email {
  position: absolute;
  right: 13%;
  transform: translateX(-13%);
}


/*헤더부분 끗*/


/*메뉴 토글 시작*/
#menu-toggle {
  position: fixed;
  top: 0px;
  display: none;
  width: 700px;
  height: 100%;
  background-image: url("../ARMU-Image/Mobile/1_main/main_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 300%;
  color: white;
  overflow: scroll;
}

#menu-backscreen {
  position: fixed;
  display: none;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .8);
}
/*메뉴 토글 끝*/

/*메뉴 콘텐츠 시작*/
#menu-contents {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 85%;
  height: auto;
}

#menu-upper-btn {
  margin: 1% 0;
  font-size: 70%;
  font-weight: 300;
  color: rgba(255, 255, 255, .9);
}

#home-btn {
  margin-right: 80%;
}

#login-btn {
  display: inline-block;
}

#menu-login-text {
  font-size: 85%;
  font-weight: 300;
}

.menu-login-separator {
  margin: 8% 0 3% 0;
}

.menu-category-separator {
  margin: 3% 0%;
}

.menu-category-btn {
  font-size: 75%;
  font-weight: 300;
  color: rgba(255, 255, 255, .9);
  text-align: left;
  margin-left: 4%;
}

.menu-copyright {
  margin-top: 80%;
  font-size: 50%;
  color: rgba(255, 255, 255, .9);
}

#menu-copyright-text {
  vertical-align: 10px;
}

#menu-copyright-img {
  width: 100px;
}
/*메뉴 콘텐츠 끝*/

/*검색 시작 */
#search-toggle {
  border: 1px solid blue;
  position: fixed;
  top: 0%;
  display: none;
  width: 100%;
  height: 30%;
  background-color: white;
  /*background-image: url("../ARMU-Image/Mobile/1_main/main_back.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 300%;
  color: black;
  background-color: #F2F2F2;
}

#search-backscreen {
  position: fixed;
  display: none;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .6);
}

#search-contents {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  width: 85%;
}

.search-sub-contents {
  padding-left: 5%;
  background-color: white;
  margin: 2%;
  height: 80px;
}

#prev-page {
  margin: 5% 12%;
  width: 5%;
  height: 5%;
}
/*검색 끝 */

/*전공 시작*/
#major-toggle {
  border: 1px solid blue;
  position: fixed;
  top: 0%;
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  /*background-image: url("../ARMU-Image/Mobile/1_main/main_back.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 300%;
  color: black;
  background-color: #F2F2F2;
}

#major-contents {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  width: 85%;
}

.major-sub-contents {
  padding-left: 5%;
  background-color: white;
  margin: 2%;
  height: 80px;
}

#x-major {
  margin: 5% 12%;
  width: 5%;
  height: 5%;
}
/*전공끝*/
/*장르 시작*/
#genre-toggle {
  border: 1px solid blue;
  position: fixed;
  top: 0%;
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  /*background-image: url("../ARMU-Image/Mobile/1_main/main_back.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 300%;
  color: black;
  background-color: #F2F2F2;
}

#genre-contents {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  width: 85%;
}

.genre-sub-contents {
  padding-left: 5%;
  background-color: white;
  margin: 2%;
  height: 80px;
}

#x-genre {
  margin: 5% 12%;
  width: 5%;
  height: 5%;
}
/*장르끝*/
/*위치 시작*/
#location-toggle {
  border: 1px solid blue;
  position: fixed;
  top: 0%;
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  /*background-image: url("../ARMU-Image/Mobile/1_main/main_back.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 300%;
  color: black;
  background-color: #F2F2F2;
}

#location-contents {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  width: 85%;
}

.location-sub-contents {
  padding-left: 5%;
  background-color: white;
  margin: 2%;
  height: 80px;
}

#x-location {
  margin: 5% 12%;
  width: 5%;
  height: 5%;
}
/*위치끝*/