.rec-container {
  height: auto;
  width:100%;
  text-align: center;
}

.rec-title {
  text-align: left;
  color: black;
  font-size: 30px;
  font-weight: 500;
  margin-left: 5%;
  margin-top: 7%;
}

.rec-container-separator {
  width: 100%;
  margin-top: 50px;
  border-bottom: 40px solid #f5f5f5;
}

/*인기 뮤지션 시작*/
.rec-popular-musi {
  display: inline-block;
  border: 1px solid black;
  height: 500px;
  width: 40%;
  margin: 3%;
}
/*인기 뮤지션 끝*/

/*베스트 뮤지션 리뷰 시작*/
.rec-best-review {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  height: 450px;
  width:85%;
  margin: 3%;
}

.rec-best-review-img {
  padding: 0;
  width: 100px;
  height: auto;
  border-radius: 50%;
}
/*베스트 뮤지션 리뷰 끝*/

/*분류 탑 텐 해시태그 시작*/
.rec-hashtag-container {
  padding-left: 5%;
  width: auto;
  overflow: auto;
}

.rec-hashtag-title {
  margin-left: 0;
  margin-bottom: 5%;
}

.rec-hashtag {
  float: left;
  height: 65px;
  width: auto;
  font-size: 35px;
  color: black;
  border: 1px solid black;
  text-align: center;
  border-radius: 50px;
  line-height: 65px;
  box-sizing: border-box;
  padding: 0 3%;
  margin: 2% 0 2% 3%;
}
/*분류 탑 텐 해시태그 끝*/
