@CHARSET "UTF-8";

/* 필터 부분 시작 */

.filterBtn {
  position: absolute;
  width: 100px;
  height: 50px;
  left: 5%;
  top: 20%;
  font-size: 2em;
  border: 0px;
  background-color: white;
}

#surf-toggle {
  position: absolute;
  display: none;
  left: 5%;
  top: 13%;
  height: 70%;
  width: 90%;
  background-color: #F5F5F5;
  border-radius: 30px;
}

#surf-backscreen {
  position: fixed;
  display: none;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
}

.gender-filter {
	display: inline-block;
	position: absolute;
	width: 40%;
	top: 20%;
	height: auto;
	font-size: 3em;
	left: 10%;
}

.age-filter {
  display: inline-block;
  position: absolute;
  width: 40%;
  top: 20%;
  height: auto;
  right: 0%;
  font-size: 3em;
}

input[type=radio] {
  zoom: 3;
}

input[type=checkbox] {
  zoom: 3;
}

/* 필터 부분 끝 */

/* 뮤지션 정렬 시작 */
#musician-surf-sort {
	position: relative;
	width: 100%;
	height: 70px;
}

#musician-list-filter {
	position: absolute;
  width: 150px;
  height: 50px;
  left: 5%;
  bottom: 0%;
  font-size: 2em;
}

#musician-list-sort {
	position: absolute;
	width: 150px;
	height: 50px;
	right: 5%;
	bottom: 0%;
	margin-left: 10%;
}

/* 뮤지션 정렬 끝 */


/*뮤지션 리스트 시작*/
#musician-surf-list {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

#musician-surf {
  border: 1px solid black;
  border-radius: 20px;
  height: 700px;
  width: 45%;
  float: left;
  margin-left: 3%;
  margin-top: 3%;
}

.musician-surf-picture {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 70%;
}

#musician-surf-preview {
	position: relative;
	width: 100%;
	height: 30%;  
}

#musician-surf-intro {
	position: absolute;
	width: 90%; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	font-size: 2.5em;
	left: 5%;
	top: 10px;
	font-weight: 400;
	white-space: normal; 
	line-height: 1.2; 
	max-height: 100px;
	text-align: left; 
	word-wrap: break-word; 
	display: -webkit-box; 
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
}

#musician-surf-name {
	position: absolute;
	left: 5%;
	bottom: 30%;
  width: auto; 
  font-size: 1.5em;
}

#musician-surf-location {
	 position: absolute;
  left: 5%;
  bottom: 15%;
  width: auto; 
  font-size: 1.5em;
  font-weight: 600;
}

#musician-surf-like {
	position: absolute;
	right: 10%;
	bottom: 25%;
}
  
/*뮤지션 리스트 끝*/

.filter-body {
  box-shadow: 3px 3px 20px 2px rgba(167, 167, 167, 0.8);
  border-radius: 40px;
  font-size: 2.3em;
  font-weight: 440;
  position: fixed;
  margin-left: 28%;
  top: 87%;
  z-index: 1;
  background-color: white;
  width: 44%;
  height: 80px;
  padding-left: 2%;
}

.filter {
  padding: 3% 7%;
  display: inline-block;
}

#filter-major {
  padding-left: 8%;
  padding-right: 8%;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

#filter-loc-toggle {
  position: fixed;
  background-color: #00bd39;
  z-index: 1;
  bottom: 0;
  bottom: -26%;
}

#filter-loc-tab {
  height: 30%;
  font-size: 100%;
  border-bottom: 1px solid grey;
  height: 80px;
}

#filter-loc-backscreen {
  z-index: 1;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .6);
}

.filter-loc-sub-tab {
  display: inline-block;
  width: 10.87%; /*탭 개수에 따라서 비율을 맞춰야 함*/
  height: 65%;
  color: black;
  padding-top: 1.5%;
  padding-bottom: 0.4%;
  text-align: center;
  font-size: 250%;
}

#seoul {
  margin-left: 0.5%;
}

.seoul {
  padding: 2% 1%;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 230%;
  width: 30.9%;
  border-right: 0.5px solid grey;
  border-bottom: 0.5px solid grey;
}

.cr {
  border-right: 0px;
}

.on {
  border-bottom: 5px solid indigo;
  font-weight: bold;
}
.on2 {
  font-weight: bold;
}
