/*event 있는 경우 끝*/
.act-no-event {
  position: relative;
  margin-top: 30%;
  hegiht: auto;
  width: 100%;
  font-size: 40px;
  text-align: center;
  color: darkgray;
}

#act-no-event-cry {
  font-size: 100px;
}

.act-event-add-btn {
  position: absolute;
  font-size: 35px;
  font-weight: 400;
  height: 65px;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  border: 1px solid white;
  line-height: 60px;
  color: white;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .85);
}
/*event 없는 경우 끝*/

/*event 있는 경우 시작*/
.act-yes-event {
  background-color: #f5f5f5;
  padding-bottom: 5%;
}

.act-container {
  height: auto;
  width: auto;
  text-align: center;
}

.act-title {
  text-align: left;
  color: black;
  font-size: 30px;
  font-weight: 500;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 0;
  padding-top: 7%;
}

.act-container-separator {
  width: 100%;
  margin-top: 60px;
  border-bottom: 80px solid #f5f5f5;
}

/*모집 중인 이벤트 시작*/
.act-now-recruiting {
  position: relative;
  background-color: white;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  height: auto;
  width:100%;
  margin-bottom: 3%;
  padding-bottom: 5%;
  text-align: justify;
  color: white;
/*
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
  url("../ARMU-Image/Mobile/1_main/main2_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
}


.act-now-recruiting-dday {
  position: absolute;
  display: inline-block;
  color: white;
  font-size: 28px;
  font-weight: 400;
  width: auto;
  padding-left: 2%; padding-right: 2%;
  background-color: black;
  border-radius: 2%;
  top: 1%;
  right: 3%;
  transform: translate(3%, -1%);
}

.act-now-recruiting-title {
  margin-top: 3%;
  margin-left: 3%;
  font-size: 34px;
  font-weight: 400;
  color: black;
}

.act-now-recruiting-date {
  color: black;
  font-size: 30px;
  font-weight: 300;
  margin-top: 1%;
  margin-left: 4%;
  width: auto;
}

.act-now-recruiting-area {
  color: black;
  font-size: 30px;
  font-weight: 300;
  margin-top: 1%;
  margin-left: 4%;
  width: auto;
}

.act-now-recruiting-price {
  margin-top: 1%;
  margin-left: 3%;
  font-size: 34px;
  font-weight: 500;
  color: black;
}

.act-now-recruiting-hashtagbox {
  margin-top: 1%;
  margin-left: 4%;
  font-size: 28px;
  font-weight: 300;
  color: black;
  width: 95%;
  overflow: auto;
}

.act-now-recruiting-hashtagbox > span {
  float: left;
  margin-right: 4%;
}

.act-now-recruiting-separator {
  width: 95%;
  margin: 2% 0;
  margin-left: auto; margin-right: auto;
}

/*모집 중인 이벤트 공통내용 시작*/
.act-now-recruiting-musibox {
  margin-top: 1%;
  margin-left: auto; margin-right: auto;
  color: black;
  width: 95%;
  overflow: auto;
  text-align: center;
}

.act-now-recruiting-musibox-title {
  font-size: 36px;
  font-weight: 600;
  margin-left: 7%;
}


.act-now-recruiting-musibox-subtitle {
  margin-top: 3%; margin-bottom: 3%;
  margin-left: 1%;
  width: auto;
  font-size: 32px;
  font-weight: 400;
  text-align: left;
}
/*모집 중인 이벤트 공통내용 끝*/

/*모집 중인 이벤트 - 지원자 시작*/

.act-now-recruiting-applicant {
  position: relative;
  display: inline-block;
  height: 470px;
  width: 95%;
  font-size: 28px;
  font-weight: 300;
  border: 1px solid gray;
  margin-bottom: 5%;
  text-align: justify;
}

.act-now-recruiting-applicant-img {
  position: absolute;
  display: inline-block;
  top: 5%;
  left: 4%;
  transform: translate(-4%, -5%);
  margin: 0 2%;
  height: 140px;
  width: 140px;
  border-radius: 100%;
  overflow: hidden;
  background-image: url('musician/photo/0choi2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.act-now-recruiting-applicant-name {
  position: absolute;
  display: inline-block;
  top: 3%;
  left: 20%;
  transform: translate(20%, 3%);
  font-size: 30px;
  font-weight: 500;
  color: black;
}

.act-now-recruiting-applicant-score {
  display: inline-block;
  margin-left: 20px;
}

.act-now-recruiting-applicant-hashtagbox {
  position: absolute;
  display: inline-block;
  top: 12%;
  left: 15%;
  transform: translate(15%, 12%);
  font-size: 30px;
  font-weight: 500;
  color: black;
  width: 70%;
  overflow: auto;
}

.act-now-recruiting-applicant-hashtagbox > span {
  float: left;
  margin-right: 4%;
}

.act-now-recruiting-applicant-separator {
  position: absolute;
  width: 90%;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -38%);
}

.act-now-recruiting-applicant-contents {
  position: absolute;
  max-height: 165px;
  width: 87%;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
  color: black;
  font-size: 35px;
  font-weight: 500;
  overflow: hidden;
}

.act-now-recruiting-applicant-btnbox {
    position: absolute;
    display: flex;
    height: auto;
    width: 100%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    margin: 0;
    padding: 0;
}

.act-now-recruiting-applicant-btn {
  display: inline-block;
  padding: 1% 0;
  margin: 0;
  height: auto;
  width: calc(100% / 3);
  background-color: lightgray;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: black;
}

.act-now-recruiting-applicant-btnbox > .with-line {
  border-right: 2px solid white;
}
/*모집 중인 이벤트 - 지원자 끝*/

/* 모집 중인 이벤트 - 내가 요청한 뮤지션 시작*/
.act-now-recruiting-callee {
  position: relative;
  display: inline-block;
  height: 330px;
  width: 95%;
  font-size: 28px;
  font-weight: 300;
  border: 1px solid gray;
  margin-bottom: 5%;
  text-align: left;
  vertical-align: middle;
}

.act-now-recruiting-callee-info {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 150px;
}

.act-now-recruiting-callee-img {
  position: absolute;
  display: inline-block;
  top: 5%; left: 4%;
  height: 140px;
  width: 140px;
  border-radius: 100%;
  overflow: hidden;
  background-image: url('musician/photo/0choi2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.act-now-recruiting-callee-name {
  position: absolute;
  display: inline-block;
  top: 3%; left: 24%;
  height: auto;
  font-size: 30px;
  font-weight: 500;
  color: black;
}

.act-now-recruiting-callee-score {
  display: inline-block;
  margin-left: 20px;
}

.act-now-recruiting-callee-hashtagbox {
  position: absolute;
  display: inline-block;
  top: 35%; left: 24%;
  font-size: 30px;
  font-weight: 500;
  color: black;
  width: 70%;
  overflow: auto;
}

.act-now-recruiting-callee-hashtagbox > span {
  float: left;
  margin-right: 4%;
}

.act-now-recruiting-callee-separator {
  width: 90%;
  margin-left: auto; margin-right: auto;
}

.act-now-recruiting-callee-contents {
  height: auto;
  width: 90%;
  margin-left: auto; margin-right: auto;
  margin-top: 3%;
  text-align: center;
  font-size: 27px;
  font-weight: 500;
}

.act-now-recruiting-callee-btnbox {
  position: absolute;
  display: flex;
  height: auto;
  width: 100%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  margin: 0;
  padding: 0;
}

.act-now-recruiting-callee-btn {
  display: inline-block;
  padding: 1% 0;
  margin: 0;
  height: auto;
  width: calc(100% / 2);
  background-color: lightgray;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: black;
}

.act-now-recruiting-callee-btnbox > .with-line {
  border-right: 2px solid white;
}
/*모집 중인 이벤트 - 내가 요청한 뮤지션 끝*/
/*모집 중인 이벤트 끝*/

/*event 있는 경우 끝*/

/*event 있는 경우 끝*/
