@CHARSET "UTF-8";

/*뮤지션 리스트 시작*/
#musician-surf-list {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

#musician-surf {
  border: 1px solid black;
  border-radius: 20px;
  height: 700px;
  width: 45%;
  float: left;
  margin-left: 3%;
  margin-top: 3%;
}

.musician-surf-picture {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 70%;
}

#musician-surf-preview {
	width: auto;
	height: 10%;
	font-size: 2em;
}

#musician-surf-name {
  
  
}

#musician-surf-location {
  
  
}
  
/*뮤지션 리스트 끝*/

.autoDiv {
	position: absolute;
	left: 30%;
	top: 30%;
}