@CHARSET "UTF-8";

/*헤더 시작*/

 #musician-info-header {
  border-bottom: 1px solid black;
  position: fixed;
  height: 120px;
  width: 100%;
  background-color: black;
  z-index: 15;
}

#musician-info-nickname {
    position: absolute;
    right: 15%;
    top: 13%;
    transform: translate(-15%, 15%);
    font-size: 250%;
    font-weight: normal;
    color: white;
    width: 50%;
    text-align: center;
 }

#musician-info-prev {
  position: absolute;
  left: 3%;
  top: 12%;
  transform: translate(-3%, 12%);
  font-size: 400%;
  color:white;
}

/*헤더 끝*/

