.rec-background {
    min-height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.rec-container {
  height: auto;
  width: auto;
  text-align: center;
  background-color: #f5f5f5;
  padding-top: 2%;
  padding-bottom: 2%;
}

.rec-title {
  text-align: left;
  color: black;
  font-size: 30px;
  font-weight: 500;
  padding-left: 5%;
  padding-top: 7%;
  padding-bottom: 4%;
  background-color: #f5f5f5;
}

.rec-container-separator {
  width: 100%;
  border-bottom: 80px solid #f5f5f5;
}

/*이벤트 없는 경우 시작*/
.rec-no-event-container {
  padding-top: 0;
  padding-bottom: 0;
}

.rec-no-event {
  position: relative;
  hegiht: 900px;
  width: 100%;
  font-size: 40px;
  text-align: center;
  color: darkgray;
  overflow: visible;
  background-color: #f5f5f5;
}

#rec-no-event-cry {
  font-size: 80px;
}

.rec-event-add-btn {
  position: absolute;
  font-size: 35px;
  font-weight: 400;
  height: 65px;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  border: 1px solid white;
  line-height: 60px;
  color: white;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .85);
}
/*이벤트 없는 경우 끝*/

/*이벤트 맞춤 추천 뮤지션 시작*/
.rec-recommand-container {
}

.rec-event {
  position: relative;
  display: inline-block; 
  background-color: white;
  box-shadow: 1px 0px 10px 0px rgba(178, 178, 178, 0.59);
  min-height: 154px;
  width: 100%;
  margin-bottom: 3%;
  text-align: left;
  color: white;
  z-index: 1;
  text-align: center;
}

.rec-event-writerbox {
  margin-top: 2%;
}

.rec-event-writer-img {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid rgba(128, 128, 128, 0.57);
  margin-left: 3%;
}


.rec-event-title {
  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;
  font-size: 32px;
  font-weight: 400;
  color: black;
  width: 80%;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
  text-align: left;
}

.rec-event-writer-name {
  font-size: 27px;
  color: black;
  font-weight: 300;
}

.rec-event-title > span {
  display: inline-block;
  font-size: 37px;
}

.rec-event-writer-separator {
  border: 1px solid #cbcbcb;
  margin-top: 2%;
}

.rec-event-date {
  color: black;
  font-size: 34px;
  font-weight: 400;
  margin-top: 1%;
  margin-left: 4%;
  width: auto;
  white-space: nowrap;
}

.rec-event-dday {
  position: absolute;
  display: inline-block;
  color: white;
  font-size: 30px;
  font-weight: 400;
  width: auto;
  padding-left: 1.5%;
  padding-right: 1.5%;
  background-color: LightSeaGreen;
  border-radius: 6px;
  line-height: 46px;
  height: 48px;
  top: 50%;
  transform: translateY(-50%);
  left: 4%;
}

.rec-event-date > span {
  margin-left: 4%;
}

.rec-event-price {
  display: inline-block;
  margin-top: 1%;
  /* margin-left: 4%; */
  font-size: 35px;
  font-weight: 500;
  color: black;
  width: auto;
  white-space: nowrap;
}

.rec-event-area {
  color: black;
  font-size: 35px;
  font-weight: 300;
  margin-top: 1%;
  margin-left: 4%;
  width: auto;
  white-space: nowrap;
}

.rec-event-hashtagbox {
  margin-top: 1%;
  margin-bottom: 5%;
  font-size: 34px;
  font-weight: 300;
  color: #383838;
  width: 95%;
  overflow: hidden;
  max-height: 205px;
  text-align: center;
  display: inline-block;
}

.rec-event-hashtagbox > span {
  display: inline-block;
  margin-right: 3%;
  border: 1px solid #727272;
  padding: 0 2%;
  border-radius: 50px;
  margin-bottom: 1%;
  margin-top: 1%;
}
/*이벤트 맞춤 추천 뮤지션 끝*/

/*분류 탑 텐 해시태그 시작*/
.rec-hashtag-container {
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  overflow: auto;
  background-color: white;
  display: none;
}

.rec-hashtag-title {
  padding-left: 0;
  padding-bottom: 5%;
}

.rec-hashtag {
  display: inline-table;
  height: 65px;
  width: auto;
  font-size: 35px;
  color: black;
  border: 1px solid black;
  text-align: center;
  border-radius: 50px;
  line-height: 65px;
  padding: 0 3%;
  margin: 2% 0 2% 3%;
}
/*분류 탑 텐 해시태그 끝*/

/*최근 이벤트 시작*/
.rec-recent-container {
  background-color: #f5f5f5;
}

.rec-recent-event {
  display: inline-block; 
  margin-bottom: 5%;
  margin-top: 5%;
}

.recent-writerbox {
  position: relative;
  margin-top: 2%;
}


.recent-favor {
  position: absolute;
  display: inline-block;
  top: 2%;
  right: 0%;
  font-size: 3rem;
  color: crimson;
  margin: 1% 3%;
}

.recent-new-tag {
  position: absolute;
  top: -47%;
  right: 3%;
  height: 90px;
}

.recent-dday {
  position: absolute;
  display: inline-block;
  color: black;
  border: 2px solid black;
  font-size: 30px;
  font-weight: 400;
  width: auto;
  padding-left: 1.5%;
  padding-right: 1.5%;
  background-color: white;
  border-radius: 6px;
  line-height: 46px;
  height: 48px;
  top: 50%;
  transform: translateY(-50%);
  left: 4%;
}

.recent-writer-img {
  display: inline-block;
  height: 90px;
  width: 90px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  border: 1px solid rgba(128, 128, 128, 0.57);
  overflow: hidden;
}


.recent-title {
  display: inline-block;
  margin-top: 3%;
  /* margin-left: 3%; */
  font-size: 32px;
  font-weight: 400;
  color: black;
  width: 95%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.recent-writer-name {
  font-size: 27px;
  color: black;
  font-weight: 300;
}

.recent-title > span {
  display: inline-block;
  font-size: 2.5rem;
}

.recent-writer-separator {
  border: 1px solid #cbcbcb;
  margin-top: 2%;
}

.recent-date {
  color: black;
  font-size: 2rem;
  font-weight: 400;
  width: auto;
  white-space: nowrap;
  margin-top: 1%;
}

.recent-date > span {
  font-size: 2rem;
}

.recent-price {
  display: inline-block;
  margin-left: 4%;
  font-size: 2rem;
  font-weight: 500;
  color: black;
  width: auto;
  white-space: nowrap;
}

.recent-area {
  color: black;
  font-size: 2rem;
  font-weight: 300;
  width: auto;
  white-space: nowrap;
}

.recent-area > span {
}

.recent-hashtagbox {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 300;
  color: #383838;
  width: 95%;
  overflow: hidden;
  min-height: 70px;
  max-height: 140px;
  text-align: center;
  display: inline-block;
}

.recent-hashtagbox > span {
  display: inline-block;
  margin-right: 3%;
  border: 1px solid #727272;
  padding: 0 2%;
  border-radius: 50px;
  margin-bottom: 1%;
  margin-top: 1%;
}
/*최근 이벤트 끝*/

