.rec-background {
    height: auto;
    width: 100%;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.rec-container {
  height: auto;
  width: auto;
  text-align: center;
  background-color: white;
  padding-top: 2%;
  padding-bottom: 2%;
}

.rec-title {
  text-align: left;
  color: black;
  font-size: 30px;
  font-weight: 500;
  padding-left: 5%;
  padding-top: 7%;
  padding-bottom: 4%;
}

.rec-container-separator {
  width: 100%;
  border-bottom: 80px solid #f5f5f5;
}

/*이벤트 맞춤 추천 뮤지션 시작*/
.swiper-container {
    width: 100%;
    height: auto;
    margin: 20px auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
   /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; */
}

.swiper-pagination > span {
  font-size: 30px;
  width: 15px;
  height: 15px;
}
/*진행중 이벤트 리스트 시작*/
.rec-recommand-container {
background-color: rgba(255, 255, 255, 0.78);
}

.rec-event {
 position: relative;
  background-color: white;
  height: 550px;
  width:90%;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: justify;
  color: black;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #6955c7;
  background-size: cover;
}

.rec-event-writerbox {
  position: relative;
  height: 170px;
  width: 100%;
  z-index: 2;
  border-bottom: 4px solid rgba(128, 105, 239, 0.25);
  background-color:
}

.rec-event-writer-img {
  position: absolute;
  display: inline-block;
  top: 12%;
left: 3%;
height: 130px;
width: 130px;
  border-radius: 100%;
  overflow: hidden;
  /* background-image: url('musician/photo/0choi2.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rec-event-title {
  display: inline-block;
  position: absolute;
  font-size: 45px;
  font-weight: 400;
  color: black;
  width: 70%;
  top: 12%;
  left: 185px;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

.rec-event-writer-name {
  position: absolute;
  display: inline-block;
  bottom: 13%;
  left: 185px;
  font-size: 30px;
  font-weight: 300;
  color: #252525;
}

.rec-event-favor {
  position: absolute;
  display: inline-block;
  font-size: 3em;
  color: #8079ef;/*crimson*/
  right: 3.5%;
  bottom: 9%;
}

.rec-event-date {
  display: inline-block;
  color: black;
  font-size: 35px;
  font-weight: 500;
  margin-top: 1%;
  margin-left: 4%;
  width: auto;
  white-space: nowrap;
}

.rec-event-area {
  display: inline-block;
  color: black;
  font-size: 35px;
  font-weight: 500;
  margin-top: 1%;
  margin-left: 4%;
  max-width: 95%;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

.rec-event-price {
  display: inline-block;
  margin-top: 1%;
  margin-left: 4%;
  font-size: 34px;
  font-weight: 500;
  color: black;
  white-space: nowrap;
}

.rec-event-hashtagbox {
  height: 145px;
color: #777;//#6955c7
font-weight: 400;
margin-left: 2.5%;
margin-top: 2%;
width: 95%;
overflow: hidden;
}

.rec-event-hashtagbox > span {
  float: left;
  margin: 0 2%;
  font-size: 33px;
}
/*이벤트 맞춤 추천 뮤지션 끝*/

/*분류 탑 텐 해시태그 시작*/
.rec-hashtag-container {
  padding-left: 5%;
  width: auto;
  overflow: auto;
}

.rec-hashtag-title {
  padding-left: 0;
  padding-bottom: 5%;
}

.rec-hashtag {
  float: left;
  height: 65px;
  width: auto;
  font-size: 35px;
  color: black;
  border: 1px solid black;
  text-align: center;
  border-radius: 50px;
  line-height: 65px;
  box-sizing: border-box;
  padding: 0 3%;
  margin: 2% 0 2% 3%;
}
/*분류 탑 텐 해시태그 끝*/

/*최근 이벤트 시작*/
.rec-recent-event {
  display: inline-block;
}
/*최근 이벤트 끝*/

