/* 이벤트 리스트 시작 */
#event-surf-container {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #f5f5f5;
  display: inline-block;
  padding-bottom: 20%;
  top: 290px;
}

.event-surf {
	position: relative;
	background-color: white;
	height: 360px;
	width: 100%;
	margin-top: 4%;
	margin-bottom: 3%;
	text-align: justify;
	color: black;
	z-index: 1;
	box-shadow: 1px 0px 10px 0px rgba(178, 178, 178, 0.59);
	background-size: cover;
}

.event-surf-writerbox {
  position: relative;
  height: 170px;
  width: 100%;
  z-index: 2;
  background-color:
}

.event-surf-writer-img {
  position: absolute;
  display: inline-block;
  top: 12%;
  left: 3%;
  height: 90px;
  width: 90px;
  border-radius: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-surf-title {
  display: inline-block;
  position: absolute;
  font-size: 45px;
  font-weight: 400;
  color: black;
  width: 77%;
  top: 12%;
  left: 155px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.event-surf-writer-name {
  position: absolute;
  display: inline-block;
      bottom: 10%;
    left: 33px;
  font-size: 28px;
  font-weight: 300;
  color: #252525;
}

.event-surf-date {
	display: inline-block;
	color: black;
	font-size: 30px;
	font-weight: normal;
	margin-top: 11%;
	margin-left: 17%;
	width: auto;
	white-space: nowrap;
}
.event-surf-date2{
	color: lightseagreen;
}
.delimiter{
	font-size: 12px;
  margin: 0 3%;
  vertical-align: middle;
}
.event-surf-area {
/*   display: inline-block;
  color: black;
  font-size: 35px;
  font-weight: 500;
  margin-top: 1%;
  margin-left: 4%;
  max-width: 95%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
}

.event-surf-price {
/*   display: inline-block;
  margin-top: 1%;
  margin-left: 4%;
  font-size: 34px;
  font-weight: 500;
  color: black;
  white-space: nowrap; */
}

.event-surf-hashtagbox {
  height: 145px;
  color: #777;
  font-weight: 400;
  margin-left: 2.5%;
  margin-top: 2%;
  width: 95%;
  overflow: hidden;
}

.event-surf-hashtagbox>span {
  float: left;
  margin: 0 2%;
  font-size: 33px;
}

/* 이벤트 리스트 끝 */

/* 이벤트 필터 시작 */

#musician-surf-sort {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #f5f5f5;
}

#filter-select-text {
  position: absolute;
  width: 80%;
  right: 0;
  height: 100px;
  padding-top: 22px;
}

.filterBtn {
  position: absolute;
  width: 7%;
  height: 50px;
  top: 20%;
  left: 7.5%;
  font-size: 2em;
  border: 0px;
  background-color: #f5f5f5;
  color: black
}

#filter-btn-icon{
  position: absolute;
  font-size: 2.8em;
  left: 3%;
  color: lightseagreen;
  top: 23%;
}

#surf-backscreen {
  position: fixed;
  display: none;
  top: 120px;
  width: 100%;
  height: 95%;
  background: rgba(0, 0, 0, .3);
  z-index: 11;
}

#filter-container {
	display: none;
position: fixed;
    top: 10%;
    width: 90%;
    height: 60%;
    left: 5%;
    background-color: white;
    border-radius: 10px;
    z-index: 12;
}

.selectSpan {
  width: 120px;
  height: 50px;
  border: 1px solid lightseagreen;
  color: lightseagreen;
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  border-radius: 50px;
  margin-right: 25px;
  background: white;
  font-weight: 400;
}

#filter-category {
position: relative;
    height: 100px;
    width: 100%;
    margin-bottom: 10%;
    margin-top: 2%;
    font-size: 3rem;
    color: #555;
}

#filter-text {
  position: absolute;
  color: black;
  left: 50%;
  top: 14%;
  transform: translate(-50%, 6%);
  font-weight: 400;
}


#filter-btn-icon{
  position: absolute;
  font-size: 2.8em;
  left: 3%;
  color: lightseagreen;
  top: 23%;
}

#surf-backscreen {
  position: fixed;
  display: none;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 11;
}

#location-check-btn {
  position: fixed;
  top: 62%;
  left: 14%;
  display: none;
  z-index: 20;
  width: 85%;
}

#location-check-cancel {
  border: 1px solid #1a1a1a;
  font-size: 2rem;
  color: #525252;
  z-index: 15;
  background: linear-gradient(rgba(255, 255, 255, 1.45), rgba(255, 255, 255, 1.45));
  width: 300px;
  height: 80px;
  margin-right: 10%;
}

#location-check-check {
  font-size: 2rem;
  color: white;
  z-index: 15;
  background: linear-gradient(rgba(0, 0, 0, 1.45), rgba(0, 0, 0, 1.45));
  width: 300px;
  height: 80px;
}

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  color: black;
  display: inline-block;
  padding-left: 82px;
  margin-bottom: 20px;
  width: 200px;
  font-weight: normal;
  font-size: 2.8rem;
  padding-top: 10px;
}

input[type="checkbox"] + label:last-child { margin-bottom: 100px; }

input[type="checkbox"] + label:before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  position: relative;
  left: -15px;
  top: 6px;
  opacity: .6;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  display: inline-block;
  width: 10px;
  left: -15px;
  top: 12px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* 이벤트 필터 끝 */



/* musimode filter */
#filter-body {
	box-shadow: 3px 3px 20px 2px rgba(167, 167, 167, 0.8);
    border-radius: 40px;
    font-size: 2.3em;
    font-weight: 440;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.74);
    width: 46%;
    height: 80px;
    /* padding-left: 2%; */
    max-height: 100%;
    display: none;
}

.filter {
	padding: 3% 4%;
	display: inline-block;
	color: white;
	font-weight: 500;
}

.fa-caret-down:before {
	color: lightseagreen;
}

#filter-major {
	padding-left: 6%;
}

#filter-genre {
	padding-left: 6%;
	padding-right: 5%;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
}

#filter-thm-tab {
	font-size: 100%;
	border-bottom: 1px solid grey;
}

#filter-thm-backscreen {
	top: 0;
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .6);
	z-index: 1
}

.filter-thm-sub-tab {
	display: inline-block;
	width: auto;
	padding: 0 4.2%;
	height: 65%;
	color: lightgray;
	padding-top: 2%;
	padding-bottom: 0.9%;
	text-align: center;
	font-size: 250%;
}

.filter-thm-sub-con {
	height: 400px;
	width: 100%;
	display: none;
}

#filter-thm-toggle {
	width: 100%;
	height: 483px;
	bottom: 0;
	/* display: none; */
	visibility:hidden;
	position: fixed;
	background-color: black;
	z-index: 2;
}

#filter-thm-content>:FIRST-CHILD {
	display: table;
}

#filter-mjr-tab {
  font-size: 100%;
  border-bottom: 1px solid grey;
}

#filter-mjr-backscreen {
  top: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .6);
  z-index: 1
}

.filter-mjr-sub-tab {
  display: inline-block;
  width: auto;
  padding: 0 4.4%;
  height: 65%;
  color: lightgray;
  padding-top: 2%;
  padding-bottom: 0.9%;
  text-align: center;
  font-size: 250%;
}

.filter-mjr-sub-con {
  height: 400px;
  width: 100%;
  display: none;
}

#filter-mjr-toggle {
  width: 100%;
  height: 483px;
  bottom: 0;
  /* display: none; */
  visibility:hidden;
  position: fixed;
  background-color: black;
  z-index: 2;
}

#filter-mjr-content>:FIRST-CHILD {
  display: table;
}


#filter-gen-tab {
  font-size: 100%;
  border-bottom: 1px solid grey;
}

#filter-gen-backscreen {
  top: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .6);
  z-index: 1
}

.filter-gen-sub-tab {
  display: inline-block;
  width: auto;
  padding: 0 3.2% ;
  height: 49%;
  color: lightgray;
  padding-top:2%;
  padding-bottom:1.6%;
  text-align: center;
  font-size: 250%;
}

.filter-gen-sub-con {
  height: 400px;
  width: 100%;
  display: none;
}

#filter-gen-toggle {
  width: 100%;
  height: 483px;
  bottom: 0;
  /* display: none; */
  visibility:hidden;
  position: fixed;
  background-color: black;
  z-index: 2;
}

#filter-gen-content>:FIRST-CHILD {
  display: table;
}

.thm, .mjr, .gen {
	padding: 2% 1.04%;
	color: lightgray;
	text-align: center;
	display: inline-block;
	font-size: 230%;
	 width: 33.33%;
    box-sizing: border-box;
	border-right: 0.5px solid grey;
	border-bottom: 0.5px solid grey;
}
.on {
  border-bottom: 4px solid white;
  font-weight: 500;
  color: white;
}

.on2 {
	font-weight: 500;
  color: white;
  background: rgba(255, 255, 255, 0.22);
}

.check-img {
  height: 30px;
  margin-right: 3%;
}