login-btn btn@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}

#container {
  height: 100vh;
  width: 100%;
  position: relative;
}

#container-filter {
  position: fixed;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/image/background/mobile_intro_index.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
   -webkit-filter: blur(50px);
  -moz-filter: blur(60px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(5px); 
}

/* 뒤로가기 시작 */

#prev-page {
  position: absolute;
  top: 4%;
  left: 7%;
  width: 60px;
}

/* 뒤로가기 끝 */

/* 헤더 시작 */

#header {
  position: absolute;
  top: 3.5%;
  left: 40%;
  color: white;
  font-size: 3em;
  font-weight: 400;
}

#consent-text {
  position: absolute;
  top: 10%;
  left: 30%;
  color: white;
  font-size: 2em;
  font-weight: 200;
}

/* 헤더 끝 */

/* 회원가입 시작 */

::-webkit-input-placeholder { /* Chrome */
  color: white;
}

.email-input {
  height: 120px;
  width: 80%;
  position: absolute;
  top: 15%;
  left: 10%;
  font-size: 2em;
  font-weight: 400;
  border: 0px;  
  border-bottom: 2px solid white;
  border-radius: 0px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 40px;
  color: white;
}

.password-input1 {
  height: 120px;
  width: 80%;
  position: absolute;
  top: 25%;
  left: 10%;
  font-size: 2em;
  font-weight: 400;
  border: 0px; 
  border-bottom: 2px solid white;
  border-radius: 0px;
  box-sizing: border-box;
   background-color: rgba(0, 0, 0, 0);
     padding-top: 40px;
  color: white;
}

.password-input2 {
  height: 120px;
  width: 80%;
  position: absolute;
  top: 35%;
  left: 10%;
  font-size: 2em;
  font-weight: 400;
  border: 0px; 
  border-bottom: 2px solid white;
  border-radius: 0px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
   padding-top: 40px;
  color: white;
}

.name-input {
  height: 120px;
  width: 80%;
  position: absolute;
  top: 45%;
  left: 10%;
  font-size: 2em;
  font-weight: 400;
  box-sizing: border-box;
  background-color: black;
  border: 0px;  
  border-radius: 0px;
  border-bottom: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
    padding-top: 40px;
  color: white;
}

.phone-input {
  height: 120px;
  width: 80%;
  position: absolute;
  top: 55%;
  left: 10%;
  font-size: 2em;
  font-weight: 400;
  box-sizing: border-box;
  background-color: black;
  border: 0px; 
  border-bottom: 2px solid white;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 40px;
  color: white;
}

.nickname-input {
  height: 120px;
  width: 80%;
  position: absolute;
  top: 65%;
  left: 10%;
  font-size: 2em;
  font-weight: 400;
  box-sizing: border-box;
  background-color: black;
  border: 0px; 
  border-bottom: 2px solid white;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 40px;
  color: white;
}

.photo-input {
  height: 120px;
  width: 80%;
  position: absolute;
  top: 65%;
  left: 10%;
  font-size: 2em;
  font-weight: 400;
  box-sizing: border-box;
  background-color: black;
  border: 0px; 
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 40px;
  color: white;
}

#fi-photoupload {
height: 120px;
    width: 40%;
    font-size: 2em;
    font-weight: 400;
    box-sizing: border-box;
    background-color: black;
    border: 0px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 50px;
    color: white;
}

#profile-img {
  width: 800px;
  font-size: 2em;
  font-weight: 400;
  box-sizing: border-box;
  border: 0px;
  border-radius: 0px;
  color: white;
  background-repeat: no-repeat;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 15px;
}

.signup-btn {
    height: 95px;
    width: 65%;
    margin-left: 5%;
    transform: translateX(10%);
    font-size: 200%;
    font-weight: 400;
    text-align: center;
    border-radius: 50px;
    line-height: 95px;
    box-sizing: border-box;
    bottom: 7%;
    color: white;
    border: 1.5px solid white;
    background: rgba(0, 0, 0, 0);
}

#consent-menu {
  margin-left: 23%;
  margin-top: 4%;
  color: white;
  font-size: 2em;
  font-weight: 400;
margin-bottom: 10%;
}

/* 회원가입 끝 */

/* 입력체크 시작 */

.email-input-check {
  position: absolute;
  left: 10%;
  font-size: 2em;
  font-weight: 400;
  color: red;
  top: 23%;
  display: none;
}

.password-input1-check {
  position: absolute;
  left: 10%;
  font-size: 2em;
  font-weight: 400;
  color: red;
  top: 33%;
  display: none;
}

.password-input2-check {
  position: absolute;
  left: 10%;
  font-size: 2em;
  font-weight: 400;
  color: red;
  top: 43%;
  display: none;
}

.name-input-check {
  position: absolute;
  left: 10%;
  font-size: 2em;
  font-weight: 400;
  color: red;
  top: 53%;
  display: none;
}

.phone-input-check {
  position: absolute;
  left: 10%;
  font-size: 2em;
  font-weight: 400;
  color: red;
  top: 63%;
  display: none;
}

.nickname-input-check {
  position: absolute;
  left: 10%;
  font-size: 2em;
  font-weight: 400;
  color: red;
  top: 73%;
  display: none;
}

/* 입력 체크 끝 */

/* 회원가입 버튼 시작 */

#member-toggle {
  position: fixed;
  display: none;
  top: 0%;
  height: 100vh;
  width: 100%;
  background-image: url("/image/background/mobile_signup.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#member-backscreen {
  position: fixed;
  display: none;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
}

#member-text {
  font-size: 550%;
  text-align: center;
  color: white;
}

#musician-text {
  font-size: 400%;
  text-align: center;
  color: white;
}

.btn {
  position: absolute;
  height: 95px;
  width: 65%;
  left: 20%;
  transform: translateX(-20%);
  font-size: 200%;
  font-weight: 400;
  text-align: center;
  border-radius: 49px;
  line-height: 95px;
  box-sizing: border-box;
}

.login-btn {
  bottom: 25%;
  color: white;
  background-color: rgba(255, 255, 255, .7);
  transform: translateY(25%);
}

.musician-btn {
  bottom: 15%;
  color: white;
  border: 1.5px solid white;
  transform: translateY(15%);
  /* background-color: White; */
}

/* 회원가입 버튼 끝 */

#photo-container {
  position: absolute;
  width: 100%;
  min-height: 500px;
  top: 63%;
  padding-left: 10%;
  box-sizing: border-box;
  padding-top: 9%;
}

/* 파일 업로드 시작*/

.filebox label { 
  height: 55px;
  width: 55px;
  margin-left: 20%;
  transform: translateX(10%);
  font-size: 300%;
  font-weight: 400;
  text-align: center;
  border-radius: 50px;
  line-height: 43px;
  box-sizing: border-box;
  display: inline-block;
  color: white;
  border: 1.5px solid white;
  background: rgba(0, 0, 0, 0);
	 } 
	
	
.filebox input[type="file"] { /* 파일 필드 숨기기 */ position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }


/* 파일 업로드 끝 */

