@CHARSET "UTF-8";

.portfolio-container {
  width: 100%;
  min-height: auto;
  position: relative;
}

#timeline-container {
  position: relative;
  height: auto;
  width: 100%;
  top: 100px;
  height: 650px;
}

#timeline-container:last-of-type {
  margin-bottom: 200px;
}

#timeline-line-container {
  position: absolute;
  width: 10%;
  height: 650px;
}

.timeline-line {
  position: absolute;
  width: 5px;
  height: 650px;
  background-color: black;
  left: 50%;
}

#timeline-mark {
  position: absolute;
  left: 18%;
  top: 34.5%;
  width: 50px;
  background-color: white;
  border: 10px solid white;
  border-radius: 100px;
}

.timeline-content{
  float: right;
  height: 60%;
  width: 89%;
  margin-right: 0%;
  margin-top: 21.5%;
  max-height: 54%;
  overflow: hidden;
}

#timeline-date {
  font-size: 2.8em;
  font-weight: 300;
  color: #252525;
}

#timeline-desc {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2.5em;
  font-weight: lighter;
  left: 5%;
  top: 10px;
  margin-top: 3%;
  font-weight: 400;
  white-space: normal;
  line-height: 1.2;
  max-height: 100px;
  text-align: left;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#timeline-picture {
  float: left;
  margin-top: 3%;
  height: 160px;
  width: 200px;
  overflow: hidden;
  object-fit: cover;
}

.spec-detail {
  width: 100%;
  display: none;
  position: fixed;
  top: 0px;
  z-index: 15;
  overflow: scroll;
  padding-bottom: 5%;
  box-sizing: border-box;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url(/image/background/portfolio2.png);
  background-repeat: no-repeat;
  background-size: 200vw 100vh;
  background-position: center center;
}

.spec-close {
  height: 10%;
  width: 100%;
  font-size: 2.5em;
  font-weight: 300;
  z-index: 15;
  background-color: none;
  color: white;
  position: fixed;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/image/background/portfolio2.png);
  background-size: 200vw 100vh;
  background-position: center 100%;
}

.spec-portfolio-container {
  text-align: center;
  float: left;
  width: 100%;
}

#spec-date {
  width: 100%;
  float: right;
  font-weight: normal;
  margin-top: 5%;
  text-align: right;
  padding-right: 5%;
  color: white;
}

#spec-desc {
  width: 90%;
  float: left;
  font-size: 2.5em;
  margin-left: 8%;
  font-weight: 400;
margin-top: 10vh;
  margin-bottom: 5%;
  color: white;
}

#portfolio-prev {
  position: absolute;
  left: 4%;
  top: 22%;
  font-size: 1.8em;
  color: white;
}

#spec-picture {
  border-radius: 10px;
  margin-top: 5%;
  box-shadow: 0px 0px 4px 0px grey;
  width: auto;
  height: auto;
  min-width: 600px;
  max-width: 95%;
  max-height: 100%;
}

iframe {
 margin-top: 5%;
}

#spec-movie {
  float: left;
  width: 95%;
  height: 100%;
  margin-top: 5%;
}

.musician-portfolio-edit-btn {
    background-color: white;
    border: 1px solid black;
    width: 100px;
    height: 55px;
    border-radius: 10px;
    font-size: 213%;
    color: black;
    position: absolute;
    right: 3.5%;
    top: 33%;
}

#portfolio-add-btn {
  position: fixed;
  border-radius: 100%;
  width: 130px;
  height: 130px;
  bottom: 5%;
  right: 5%;
  background: #8069ef;
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 125px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.38);
}

/*이벤트 없는 경우 시작*/
.rec-no-event-container {
  padding-top: 0;
  padding-bottom: 0;
}

.rec-no-portfolio {
  position: relative;
  width: 100%;
  font-size: 40px;
  text-align: center;
  color: darkgray;
  overflow: visible;
  min-height: 896px;
  background-color: #f5f5f5;
  margin-top: 10%;
  padding-top: 30%;
}

#rec-no-portfolio-cry {
  font-size: 80px;
}

.rec-no-event-separator {
  margin-top: 0;
}
/*이벤트 없는 경우 끝*/

