@CHARSET "UTF-8";

.portfolio-container {
	width: 100%;
	min-height: auto;
	position: relative;
}

#timeline-container {
  position: relative;
	height: auto;
	width: 100%;
	top: 100px;
	height: 650px;
}

#timeline-container:last-of-type {
	margin-bottom: 200px;
}

#timeline-line-container {
	position: absolute;
	width: 10%;
	height: 650px;
}

.timeline-line {
  position: absolute;
  width: 5px;
  height: 650px;
  background-color: black;
  left: 50%;
}

#timeline-mark {
  position: absolute;
  left: 18%;
  top: 34.5%;
  width: 50px;
  background-color: white;
  border: 10px solid white;
  border-radius: 100px;
}

#timeline-content{
  float: right;
  height: 60%;
  width: 80%;
  margin-right: 7%;
  margin-top: 21.5%;
}

#timeline-date {
	font-size: 3em;
	font-weight: normal;
}

#timeline-desc {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2.5em;
  font-weight: lighter;
  left: 5%;
  top: 10px;
  font-weight: 400;
  white-space: normal;
  line-height: 1.2;
  max-height: 100px;
  text-align: left;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#timeline-picture {
  float: left;
  margin-top: 3%;
  height: 160px;
  width: 200px;
  overflow: hidden;
  object-fit: cover;
}
