body>div {
	background-color: white !important;
}

.chat-header {
  position: relative;
}

.chat-header-head {
  font-size: 250%;
  font-weight: 400;
  height: 120px;
  background-color: black;
  text-align: center;
  line-height: 115px;
  color: white;
  text-shadow: none;
}

.chat-header-close-btn {
  position: absolute;
  left: 3%;
  top: 4%;
  font-size: 400%;
  font-weight: 300 !important;
  color: white !important;
}

.chat-header-desc {
  margin-top: 13%;
  font-size: 38px;
  text-align: center;
}

#total-unread {
  color: #8069ef;
}

.chat-listbox {
  margin-top: 6%;
}

.chat-list {
  height: 250px;
  padding: 15px 0 !important;
  padding-right: 5% !important;
  padding-left: 250px !important;
  font-size: 30px;
}

.chat-list-img {
  max-height: 100% !important;
  max-width: 100% !important;
  height: 220px !important;
  width:  220px !important;
  object-fit: cover !important;
  margin: 24px 13px !important;
  border-radius: 50%;
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
  /*width: 100%;*/
  overflow: hidden;
  top: 2% !important;
}

.chat-list-name {
  position: relative;
  z-index: 50;
  display: block;
  width: 100%;
  font-size: 45px;
  margin-top: 4%;
}

.chat-list-unread-badge {
      display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #8069ef;
    border-radius: 50%;
    padding: 0;
    font-size: 30px;
    font-weight: 300;
    color: white;
    line-height: 40px;
    vertical-align: top;
}

.chat-list-lastchat-date {
  position: absolute;
  display: inline-block;
  width: auto;
  right: -5%;
  font-size: 35px;
  font-weight: 400;
}



.chat-list-msg {
  display: block;
  margin-top: 2.5%;
  font-size: 40px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

.chat-list-match-status, .chat-list-event-date {
  display: inline-block;
  margin-top: 2%;
  font-size: 37px;
  font-weight: 300;
}

/*jquery mobile button*/
.ui-btn-icon-left:after, .ui-btn-icon-right:after, 
.ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
    width: 40px;
    height: 40px;
}

/* 리스트가 없는 경우 */
.no-list-view {
  position: absolute;
  top: 120px;
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 2.5rem;
  color: #252525;
  line-height: 50vh;
}