@CHARSET "UTF-8";

#container {
  position: relative;
}

#header-box {
  position: fixed;
  height: 200px;
  z-index: 11;
  background-color: white;
}

#musician-favor-text {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  font-size: 300%;
  font-weight: normal;
}

#musician-favor-countbox {
  position: absolute;
  width: 50%;
  left: 30%;
  bottom: 5%;
  font-size: 250%;
  margin-left: 3%;
}

.fa-heart-o {
  color: #ba3d3d;
  margin-left: 5%;
}

#musician-favor-count {
  font-weight: normal;
  margin-left: -8%;
}

/* 뮤지션 관심 리스트 시작 */
#musician-favor-list {
  position: absolute;
  top: 200px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: inline-block;
}

#musician-favor {
  border-bottom: 1px solid black;
  height: 400px;
  width: 100%;
  float: left;
  margin-top: 6%;
  display: inline-block;
  padding-bottom: 3%;
}

#musician-favor-picture {
  border-radius: 15px;
  margin-left: 2%;
  margin-top: 2%;
  width: 45%;
  height: 90%;
  object-fit: cover;
  display: inline-block;
}

#musician-favor-preview {
  float: right;
  width: 50%;
  height: 75%;
  display: inline-block;
}

#musician-favor-name {
  width: 100%;
  font-size: 200%;
  margin-top: 30px;
}

#musician-favor-intro {
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2em;
  margin-top: 4%;
  white-space: normal;
  line-height: 1.2;
  max-height: 100px;
  text-align: left;
  word-break: keep-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 100px;
}


#musician-favor-location {
  width: 100%;
  font-size: 200%;
  font-weight: 500;
  margin-top: 25px;
}

#musician-favor-delbtn { 
width: 20%;
    height: 15%;
    background-color: white;
    border: 1px solid black;
    font-size: 200%;
    z-index: 15;
    position: relative;
    bottom: 18%;
    left: 50%;
}

.fa-arrow-circle-o-up {
  font-size: 400%;
  position: fixed;
  bottom: 3%;
  right: 3%;
  border: 0px;
  display: none;
}

/* 뮤지션 관심 리스트 끝 */