.rec-background {
    height: auto;
    width: 100%;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.rec-container {
  height: auto;
  width: auto;
  text-align: center;
  background-color: white;
  padding-top: 2%;
  padding-bottom: 2%;
}

.rec-title {
  text-align: left;
  color: black;
  font-size: 30px;
  font-weight: 500;
  padding-left: 5%;
  padding-top: 7%;
  padding-bottom: 4%;
}

.rec-container-separator {
  width: 100%;
  /*margin-top: 60px;*/
  border-bottom: 80px solid #f5f5f5;
}

/*이벤트 맞춤 추천 뮤지션 시작*/
/*이벤트 없는 경우 시작*/
.rec-no-event {
  position: relative;
  hegiht: 900px;
  width: 100%;
  font-size: 40px;
  text-align: center;
  color: darkgray;
  overflow: visible;
  background-color: #f5f5f5;
}

#rec-no-event-cry {
  font-size: 80px;
}

.rec-event-add-btn {
  position: absolute;
  font-size: 35px;
  font-weight: 400;
  height: 65px;
  width: 400px;
  left: 50%;
	transform: translateX(-50%);
  border-radius: 50px;
  border: 1px solid white;
	line-height: 60px;
  color: white;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .85);
}

.rec-no-event-separator {
  margin-top: 0;
}
/*이벤트 없는 경우 끝*/

/*이벤트 있는 경우 시작*/
.swiper-container {
    width: 100%;
    height: auto;
    margin: 20px auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination > span {
  font-size: 30px;
  width: 15px;
  height: 15px;
}

.rec-by-event-musi {
  position: relative;
  display: inline-block;
  border: 1px solid gray;
  height: 700px;
  width: 500px !important;
  margin: 1%;
  text-align: justify;
  z-index: 99;
}

.rec-by-event-musi-img {
  display: table;
  height: 500px;
  width: 100%;
  overflow: hidden;
  /* background-image: url('/ARMU-Image/musician/photo/0choi2.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rec-by-event-musi-name {
  display: inline-block;
  width: auto;
  margin-top: 5%;
  margin-left:5%;
  color: black;
  font-size: 32px;
  font-weight: 500;
}

.rec-by-event-musi-score {
  display: inline-block;
  margin-left: 20px;
  color: black;
  font-size: 28px;
}

.rec-by-event-musi-fav {
  position: absolute;
  display: inline-block;
  right: 7%;
  left: auto;
  top: 62%;
  transform: translate(7%, -62%);
  color: white;
  font-size: 40px;
  font-weight: 500;
}

.rec-by-event-musi-hashtagbax {
  margin-top: 2%;
  margin-left: 2%;
  height: 90px;
  overflow: hidden;
  font-size: 30px;
  color: black;

}

.rec-by-event-musi-hashtagbax > span {
  float: left;
  margin: 0 2%;
}
/*이벤트 있는 경우 끝*/
/*이벤트 맞춤 추천 뮤지션 끝*/


/*베스트 뮤지션 리뷰 시작*/
.rec-best-review {
  position: relative;
  display: inline-block;
  border: 1px solid gray;
  background-color: white;
  height: 450px;
  width:95%;
  margin-bottom: 3%;
  text-align: justify;
}

.rec-best-review-img {
  position: absolute;
  display: inline-block;
  top: 5%;
  left: 4%;
  transform: translate(-4%, -5%);
  height: 140px;
  width: 140px;
  border-radius: 100%;
  overflow: hidden;
  /* background-image: url('musician/photo/0choi2.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
}

.rec-best-review-musi {
  position: absolute;
  display: inline-block;
  top: 3%;
  left: 20%;
  transform: translate(20%, 3%);
  font-size: 30px;
  font-weight: 500;
  color: black;
}

.rec-best-review-musi-score {
  display: inline-block;
  margin-left: 20px;
}

.rec-best-review-hashtagbox {
  position: absolute;
  display: inline-block;
  top: 12%;
  left: 15%;
  transform: translate(15%, 12%);
  font-size: 30px;
  font-weight: 500;
  color: black;
  width: 70%;
  overflow: auto;
}

.rec-best-review-hashtagbox > span {
  float: left;
  margin-right: 4%;
}

.rec-best-review-separator {
  position: absolute;
  width: 90%;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -38%);
}

.rec-best-review-contents {
  position: absolute;
  width: 87%;
  max-height: 4.5em;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -73%);
  color: black;
  font-size: 35px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
}

.rec-see-more {
  position: absolute;
  display: inline-block;
  right: 5%;
  bottom: 5%;
  transform: translate(5%, 5%);
  font-size: 20px;
  color: gray;
}
/*베스트 뮤지션 리뷰 끝*/

/*분류 탑 텐 해시태그 시작*/
.rec-hashtag-container {
  padding-left: 5%;
  width: auto;
  overflow: auto;
}

.rec-hashtag-title {
  padding-left: 0;
  padding-bottom: 5%;
}

.rec-hashtag {
  float: left;
  height: 65px;
  width: auto;
  font-size: 35px;
  color: black;
  border: 1px solid black;
  text-align: center;
  border-radius: 50px;
  line-height: 65px;
  box-sizing: border-box;
  padding: 0 3%;
  margin: 2% 0 2% 3%;
}
/*분류 탑 텐 해시태그 끝*/



/*인기 뮤지션 시작*/
.rec-popular-musi {
  position: relative;
  display: inline-block;
  border: 1px solid gray;
  height: 600px;
  width: 45%;
  margin: 1%;
  margin-bottom: 3%;
  text-align: justify;
}

.rec-popular-musi-img {
  display: table;
  height: 400px;
  width: 100%;
  overflow: hidden;
  /* background-image: url('musician/photo/0choi2.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rec-popular-musi-name {
  display: inline-block;
  width: auto;
  margin-top: 5%;
  margin-left:5%;
  color: black;
  font-size: 32px;
  font-weight: 500;
}

.rec-popular-musi-score {
  display: inline-block;
  margin-left: 20px;
  color: black;
  font-size: 28px;
}

.rec-popular-musi-fav {
  position: absolute;
  display: inline-block;
  right: 7%;
  left: auto;
  top: 62%;
  transform: translate(7%, -62%);
  color: white;
  font-size: 40px;
  font-weight: 500;
}

.rec-popular-musi-hashtagbax {
  margin-top: 2%;
  margin-left: 2%;
  height: 90px;
  overflow: hidden;
  font-size: 30px;
  color: black;

}

.rec-popular-musi-hashtagbax > span {
  float: left;
  margin: 0 2%;
}
/*인기 뮤지션 끝*/




/*

* {
  border: 1px solid red;
  margin-right: 0;
  -webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0em;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}*/

/*html {
  overflow-y: overlay;
  width: 100vw;
  overflow-x:hidden;
  right: 0;
}
html::-webkit-scrollbar { width: 0 !important }*/



/**/
