/* 리뷰 및 평점 헤더 부분 시작 */

.review-container {
	position: relative;
	border: 1px solid black;
	width: 100%;
	height: auto;
}

.review-header {
  float: left;
  top: 100px;
  width: 100%;
  height: 75px;
  background-color: #F5F5F5;
  font-size: 2em;
  padding-top: 100px;
}

.review-header-text {
  text-align: left;
  color: black;
  font-size: 30px;
  font-weight: 500;
  padding-left: 5%;
  padding-top: 1%;
}

/* 리뷰 및 평점 헤더 부분 끝 */

/*  평점 시작 */

.review-rating-container {
  float: left;
  top: 185px;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 1%;
  margin-bottom: 5%;
}

.review-rating {
  float: left;
  width: 25%;
  height: 50px;
  margin-top: 3%;
  text-align: left;
}

.review-rating-grade {
  float: left;
  width: 20%;
  margin-left: 5%;
  margin-top: 0.5%;
  font-size: 4em;
}

.review-rating-text {
  float: right;
  margin-right: 5%;
  width: 35%;
  height: auto;
  font-size: 1.5em;
  color: black;
  margin-top: 2%;
}

.fa-star, .fa-star-half-o, .fa-star-o{
	font-size: 3em;
}

/*  평점 끝 */

/* 리뷰 시작 */

.review-box {
  float: left;
  margin-left: 5%;
  width: 90%;
  height: auto;
  border: 1px solid red;
}

.review-box-date {
	font-size: 1.5em;
}

.review-box-date-content {
	font-size: 1.5em;
}


/* 리뷰 끝 */