@CHARSET "UTF-8";
body {
	background-color: #f5f5f5;
}

/*event 없는 경우 시작*/
.no-event {
  position: relative;
  margin-top: 30%;
  hegiht: auto;
  width: 100%;
  font-size: 40px;
  text-align: center;
  color: darkgray;
}

#no-event-cry {
  font-size: 100px;
}

.event-add-btn {
  position: absolute;
  font-size: 35px;
  font-weight: 400;
  height: 65px;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  border: 1px solid white;
  line-height: 60px;
  color: white;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .85);
}
/*event 없는 경우 끝*/


/*헤더 시작*/
  .event-list-headerbox {
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
  height: 120px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 120px;
}

.event-list-header {
  display: inline-block;
  font-size: 250%;
  font-weight: normal;
}

.back-btn {
  position: absolute;
  left: 3%;
  color: white;
  line-height: 110px;
  font-size: 400%;
}
/*헤더 끝*/

/*카테고리 바 시작*/
#event-type-btn-container {
  position: relative;
  width: 100%;
  top: 120px;
  height: 100px;
  /* background-color: #f5f5f5; */
  background-color: white;
  z-index: 12;
  border-bottom: 1px solid lightgray;
}

#event-type-btn-container > div {
  float: left;
  width: 33.3333%;
  height: 100%;
  font-size: 2.3rem;
  text-align: center;
  line-height: 100px;
  border-collapse: collapse;
}

#event-type-recruiting-btn {
  /* background-color: #252525 !important;
  color: white; */
  border-bottom: 4px solid #8069ef;
}
/*카테고리 바 끝*/

/*진행중 이벤트 리스트 시작*/
.event-list-container {
	position: absolute;
	top: 220px;
	text-align: center;
	width: 100%;
	background-color: #f5f5f5;
	padding-top: 10%;
}

.ongoing-event {
  position: relative;
  background-color: white;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  height: auto;
  width:100%;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: justify;
  color: white;
  z-index: 1;
/*
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
  url("../ARMU-Image/Mobile/1_main/main2_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
}

.ongoing-event-title {
  margin-top: 3%;
  margin-left: 3%;
  font-size: 34px;
  font-weight: 400;
  color: black;
  width: 85%;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

.ongoing-edit-btn {
  position: absolute; 
  display: inline-block;
  color: black;
  font-weight: 400;
  font-size: 3em;
  width: auto;
  top: 13px;
  right: 3%;
  transform: translateX(3%);
}

.ongoing-event-date {
  display: inline-block;
  color: black;
  font-size: 30px;
  font-weight: 300;
  margin-top: 1%;
  margin-left: 4%;
  width: auto;
  white-space: nowrap;
}

.ongoing-event-area {
  display: inline-block;
  color: black;
  font-size: 30px;
  font-weight: 300;
  margin-top: 1%;
  margin-left: 4%;
  width: auto;
  white-space: nowrap;
}

.ongoing-event-price {
  display: inline-block;
  margin-top: 1%;
  margin-left: 4%;
  font-size: 34px;
  font-weight: 500;
  color: black;
  white-space: nowrap;
}

/*함께한 뮤지션 시작*/
.ongoing-event-musibox {
  margin-top: 2%; margin-bottom: 1%;
  color: black;
  width: 95%;
}

.ongoing-event-musibox-title {
  font-size: 33px;
  font-weight: 500;
  margin-left: 4%;
  white-space: nowrap;
}

.ongoing-event-musi {
  position: relative;
  display: inline-block;
  margin-top: 2%;
  height: 140px;
  width: 95%;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 5%;
}

.ongoing-event-musi-img {
  position: absolute;
  display: inline-block;
  top: 5%; left: 4%;
  height: 140px;
  width: 140px;
  border-radius: 100%;
  overflow: hidden;
  /* background-image: url('musician/photo/0choi2.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
}

.ongoing-event-musi-name {
  position: absolute;
  display: inline-block;
  top: 3%; left: 24%;
  height: auto;
  font-size: 30px;
  font-weight: 500;
  color: black;
}

.ongoing-event-musi-score {
  display: inline-block;
  margin-left: 20px;
}

.ongoing-event-musi-hashtagbox {
  position: absolute;
  display: inline-block;
  top: 35%; left: 24%;
  font-size: 30px;
  font-weight: 500;
  color: black;
  width: 70%;
  overflow: auto;
}

.ongoing-event-musi-hashtagbox > span {
  float: left;
  margin-right: 4%;
}
/*함께한 뮤지션 끝*/
/*진행중 이벤트 리스트 끝*/

/*모집중 이벤트 리스트 시작*/
.recruiting {
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.21);
  border-top: 1px solid white;
  border-bottom: 1px solid white; 
  height: auto;
  width:100%;
  margin-bottom: 7%;
  padding-bottom: 3%;
  text-align: justify;
  color: white;
  z-index: 1;
  padding-bottom: 6%;
}
 
  
  .event-box:focus, .event-box:hover, .event-box:active {
    background-color: rgba(0, 0, 0, 0.1);
  }


.recruiting-dday {
  /* position: absolute; */
  display: inline-block;
  color: white;
  font-size: 28px;
  font-weight: 400;
  width: auto;
  padding-left: 2%; padding-right: 2%;
  background-color: #8069ef;
  border-radius: 2%;
  top: 1%;
  right: 3%;
  transform: translate(3%, -1%);
}

.recruiting-title {
  margin-top: 3%;
  margin-left: 3%;
  font-size: 37px;
  font-weight: 400;
  color: black;
  width: 90%;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

.recruiting-edit-btn {
  position: absolute;
  display: inline-block;
  color: #444;
  font-weight: 400;
  font-size: 4em;
  top: 7px;
  right: 2%;
  transform: translateX(3%);
}

.recruiting-date {
  color: black;
  font-size: 35px;
  font-weight: 300;
  margin-top: 1%;
  margin-left: 4%;
  width: auto;
  white-space: nowrap;
}

.recruiting-area {
  color: black;
  font-size: 35px;
  font-weight: 300;
  margin-top: 1%;
  margin-left: 4%;
  width: auto;
  white-space: nowrap;
}

.recruiting-price {
  margin-top: 1%;
  margin-left: 4%;
  font-size: 35px;
  font-weight: 500;
  color: black;
  white-space: nowrap;
}

.recruiting-hashtagbox {
  margin-top: 1%;
  margin-left: 4%;
  font-size: 34px;
  font-weight: 300;
  color: black;
  width: 95%;
  overflow: auto;
}

.recruiting-hashtagbox > span {
  float: left;
  margin-right: 4%;
}

.recruiting-separator {
  width: 98%;
  margin: 5% 0;
  margin-left: auto;
  margin-right: auto;
  border: 1.5px solid lightgray;
}

/*모집 중인 이벤트 뮤지션 시작*/
#recruiting-applicant-box {
  display: none;
}

.recruiting-musibox {
  margin-top: 1%;
  margin-left: auto; margin-right: auto;
  color: black;
  width: 100%;
  overflow: auto;
  text-align: center;
}

.recruiting-musibox-title {
  display: block;
  font-size: 36px;
  font-weight: 600;
  white-space: nowrap;
  color: #444;
}


.recruiting-musibox-subtitle {
  margin-top: 5%; margin-bottom: 5%;
  margin-left: 3%;
  width: auto;
  font-size: 32px;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
}

.recruiting-applicant-block {
  width: 100%;
  text-align: left;
}

#recruiting-candidate {
  border: 1px solid #8069ef;
}

.recruiting-applicant {
  position: relative;
  display: inline-block;
  box-shadow: 3px 3px 20px 0px rgba(128, 128, 128, 0.56);
  height: 670px;
  width: 47%;
  margin: 1%;
  margin-bottom: 3%;
  text-align: justify;
  border-radius: 10px;
}

.recruiting-applicant-img {
  display: table;
  height: 400px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.recruiting-applicant-name {
  display: inline-block;
  width: auto;
  margin-top: 5%;
  margin-left:5%;
  color: black;
  font-size: 32px;
  font-weight: 500;
}

.recruiting-applicant-score {
  display: inline-block;
  margin-left: 20px;
  color: black;
  font-size: 28px;
}

.recruiting-applicant-fav {
  position: absolute;
  display: inline-block;
  right: 7%;
  left: auto;
  top: 62%;
  transform: translate(7%, -62%);
  color: white;
  font-size: 40px;
  font-weight: 500;
}

.recruiting-applicant-hashtagbax {
  margin-top: 2%;
  margin-left: 2%;
  height: 90px;
  overflow: hidden;
  font-size: 30px;
  color: black;

}

.recruiting-applicant-hashtagbax > span {
  float: left;
  margin: 0 2%;
}

.recruiting-applicant-btnbox {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.recruiting-applicant-btn {
  /* border: 1px solid #8069ef; */
  display: table;
  width:49.7%;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 2rem;
}

.reject-btn {
  border: 1px solid black;
  border-bottom-left-radius: 10px;
}

.decide-btn {
  border: 1px solid black;
  background-color: black;
  color: white;
  font-weight: 400;
  border-bottom-right-radius: 10px;
}

#recruiting-callee-box {
  display: none;
}

.cancel-btn {
  width:100%;
  border: 0px;
  background-color: gray;
  color: white;
  font-weight: 400;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*모집 중인 이벤트 뮤지션 끝*/



/* 
.recruiting-callee {
  position: relative;
  display: inline-block;
  height: 330px;
  width: 95%;
  font-size: 28px;
  font-weight: 300;
  border: 1px solid gray;
  margin-bottom: 5%;
  text-align: left;
  vertical-align: middle;
}

.recruiting-callee-info {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 150px;
}

.recruiting-callee-img {
  position: absolute;
  display: inline-block;
  top: 5%; left: 4%;
  height: 140px;
  width: 140px;
  border-radius: 100%;
  overflow: hidden;
  background-image: url('musician/photo/0choi2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.recruiting-callee-name {
  position: absolute;
  display: inline-block;
  top: 3%; left: 24%;
  height: auto;
  font-size: 30px;
  font-weight: 500;
  color: black;
}

.recruiting-callee-score {
  display: inline-block;
  margin-left: 20px;
}

.recruiting-callee-hashtagbox {
  position: absolute;
  display: inline-block;
  top: 35%; left: 24%;
  font-size: 30px;
  font-weight: 500;
  color: black;
  width: 70%;
  overflow: auto;
}

.recruiting-callee-hashtagbox > span {
  float: left;
  margin-right: 4%;
}

.recruiting-callee-separator {
  width: 90%;
  margin-left: auto; margin-right: auto;
}

.recruiting-callee-contents {
  height: auto;
  width: 90%;
  margin-left: auto; margin-right: auto;
  margin-top: 3%;
  text-align: center;
  font-size: 27px;
  font-weight: 500;
}

.recruiting-callee-btnbox {
  position: absolute;
  display: flex;
  height: auto;
  width: 100%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  margin: 0;
  padding: 0;
}

.recruiting-callee-btn {
  display: inline-block;
  padding: 1% 0;
  margin: 0;
  height: auto;
  width: calc(100% / 2);
  background-color: lightgray;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: black;
}

.recruiting-callee-btnbox > .with-line {
  border-right: 2px solid white;
}
모집 중인 이벤트 - 내가 요청한 뮤지션 끝
모집중 이벤트 리스트 끝
*/
.add-review-btn {
	position: absolute;
	display: inline-block;
	right: 3%;
	background-color: #252525;
	color: white;
	font-size: 1.8em;
	padding: 0.2% 1%;
	border: 1px solid #252525;
	border-radius: 5px;
} 