@CHARSET "UTF-8";
body {
	background-color: #f5f5f5;
}

.event-list-container {
  position: absolute;
  top: 100px;
  padding-top: 150px;
  padding-bottom: 10vh;
  text-align: center;
  width: 100%;
  background-color: #f5f5f5;
}

/*event 없는 경우 시작*/
.no-event {
  position: relative;
  margin-top: 30%;
  hegiht: auto;
  width: 100%;
  font-size: 40px;
  text-align: center;
  color: darkgray;
}

#no-event-cry {
  font-size: 100px;
}

.event-add-btn {
  position: absolute;
  font-size: 35px;
  font-weight: 400;
  height: 65px;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  border: 1px solid white;
  line-height: 60px;
  color: white;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .85);
}
/*event 없는 경우 끝*/


/*헤더 시작*/
  .event-list-headerbox {
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
  height: 120px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 120px;
}

.event-list-header {
  display: inline-block;
  font-size: 250%;
  font-weight: normal;
}

.back-btn {
  position: absolute;
  left: 3%;
  color: white;
  line-height: 110px;
  font-size: 400%;
}
/*헤더 끝*/

/*카테고리 바 시작*/
#event-type-btn-container {
  position: relative;
  width: 100%;
  top: 120px;
  height: 100px;
  /* background-color: #f5f5f5; */
  background-color: white;
  z-index: 12;
  border-bottom: 1px solid lightgray;
}

#event-type-btn-container > div {
  float: left;
  width: 33.3333%;
  height: 100%;
  font-size: 2.3rem;
  text-align: center;
  line-height: 100px;
  border-collapse: collapse;
}

#event-type-recruiting-btn {
  /* background-color: #252525 !important;
  color: white; */
  border-bottom: 4px solid #8069ef;
}

.category-main {
  position: relative;
}
/*카테고리 바 끝*/



/*모집중 이벤트 리스트 시작*/
.recruiting {
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.21);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: auto;
  width:100%;
  margin-bottom: 20%;
  text-align: justify;
  color: white;
  z-index: 1;
  /* padding-bottom: 6%; */
}


  .event-box:focus, .event-box:hover, .event-box:active {
    background-color: rgba(0, 0, 0, 0.1);
  }


.recruiting-dday {
  display: inline-block;
  color: white;
  font-size: 30px;
  font-weight: 400;
  width: auto;
  padding-left: 1.5%;
  padding-right: 1.5%;
  background-color: #000000;
  /* border: 1px solid black; */
  border-radius: 6px;
  line-height: 46px;
  height: 48px;
}

.recruiting-title {
  margin-top: 3%;
  margin-left: 3%;
  font-size: 32px;
  font-weight: 400;
  color: black;
  width: 90%;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

.recruiting-title > span {
  display: inline-block;
  font-size: 37px;
}

.recruiting-edit-btn {
  position: absolute;
  /* display: inline-block; */
  display: none;
  color: #444;
  font-weight: 400;
  font-size: 4em;
  top: 7px;
  right: 2%;
  transform: translateX(3%);
}

.recruiting-date {
  color: black;
  font-size: 35px;
  font-weight: 300;
  margin-top: 1%;
  margin-left: 4%;
  width: auto;
  white-space: nowrap;
}

.recruiting-area {
  color: black;
  font-size: 35px;
  font-weight: 300;
  margin-top: 1%;
  margin-left: 4%;
  width: auto;
  white-space: nowrap;
}

.recruiting-price {
  margin-top: 1%;
  margin-left: 4%;
  margin-bottom: 2%;
  font-size: 35px;
  font-weight: 500;
  color: black;
  white-space: nowrap;
}

.recruiting-hashtagbox {
  margin-top: 1%;
  margin-bottom: 5%;
  margin-left: 4%;
  font-size: 34px;
  font-weight: 300;
  color: black;
  width: 95%;
  overflow: auto;
}

.recruiting-hashtagbox > span {
  float: left;
  margin-right: 4%;
}

.recruiting-separator {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  border: 1.5px solid lightgray;
}

.recruiting-no-musician {
    font-size: 2rem;
    color: #939393;
    margin-top: 3%;
    margin-bottom: 1%;
}

/*모집 중인 이벤트 - 뮤지션 시작*/

.recruiting-musibox {
  position: relative;
  padding-top: 1%;
  padding-bottom: 3%;
  color: black;
  width: 100%;
  overflow: auto;
  text-align: center;
}

.recruiting-musibox-title {
  display: block;
  font-size: 33px;
  font-weight: 500;
  white-space: nowrap;
  color: #444;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
}

.recruiting-musibox-summarybox {
  display: inline-block;
  overflow: hidden;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  height: 140px;
  text-align: center;
}

.recruiting-musibox-summary-musi {
  /* float: left; */
  display: inline-block;
  height: 120px;
  width: 120px;
  background-repeat: none;
  background-size: cover;
  border-radius: 100%;
  overflow: hidden;
  margin: 1% 2%;
  border: 1px solid rgba(0, 0, 0, 0.21);
}

.recruiting-musibox-open {
  font-size: 1.9rem;
  display: block;
  text-align: center;
  padding-left: 2%;
}

.recruiting-musibox-open-container {
  display: none;
}

.recruiting-musibox-subtitle {
  margin-top: 1%;
  margin-bottom: 4%;
  padding-left: 3%;
  width: auto;
  font-size: 32px;
  font-weight: 300;
  text-align: left;
  white-space: nowrap;
  color: grey;
  border-top: 1px solid #9f9f9f;
}

.recruiting-musician-block {
  width: 100%;
  text-align: center;
}

.recruiting-candidate {
  border: 1px solid #8069ef;
}

.recruiting-applicant {
  position: relative;
  display: inline-block;
  height: 250px;
  width: 95%;
  margin: 0%;
  text-align: justify;
  margin-bottom: 5%;
  margin-top: 5%;
  
}

.recruiting-applicant-img {
  display: table;
  height: 250px;
  width: 250px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}

.recruiting-applicant-name {
  position: absolute;
  display: inline-block;
  color: black;
  font-size: 32px;
  font-weight: 500;
  top: -2px;
  width: 52%;
  left: 300px;
  overflow: hidden;
  height: 41px;
}

.recruiting-applicant-score {
  display: inline;
  margin-left: 20px;
  color: #8069ef;
  font-size: 33px;
  width: 140px;
}

.recruiting-applicant-fav {
  position: absolute;
  display: inline-block;
  top: -3%;
  right: 1%;
  color: crimson;
  font-size: 40px;
  width: 10%;
  font-weight: 500;
  text-align: right;
}

.recruiting-applicant-hashtagbax {
  position: absolute;
  height: 99px;
  overflow: hidden;
  font-size: 30px;
  color: black;
  width: 68%;
  top: 56px;
  left: 292px;
}

.recruiting-applicant-hashtagbax > span {
  float: left;
  margin: 0 2%;
}

.recruiting-applicant-btnbox {
  position: absolute;
  display: inline-block;
  width: 67%;
  left: 301px;
  bottom: 3%;
}

.recruiting-applicant-btn {
  display: inline-table;
  width: 48%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 2rem;
  color: black;
  border-radius: 10px;
}

.reject-btn {
  background: white;
  border: 1px solid black;
  margin-right: 2%;
}

.decide-btn {
  background: black;
  color: white;
  border: 1px solid black;
}

.cancel-btn {
  width:47%;
  border: 1px solid black;
}
/*모집 중인 이벤트 - 뮤지션 끝*/
/*모집 중인 이벤트 끝*/


/*진행중 이벤트 리스트 시작*/
/*함께하는 뮤지션 시작*/
.ongoing-musibox {
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: auto; margin-right: auto;
  color: black;
  width: 100%;
  overflow: auto;
  text-align: left;
}

.ongoing-musibox-title {
  display: block;
  font-size: 36px;
  font-weight: 500;
  white-space: nowrap;
  color: #444;
  padding-left: 3%;
}

.ongoing-applicant-block {
  width: 100%;
  text-align: center;
}

.ongoing-applicant {
  position: relative;
  display: inline-block;
  height: 250px;
  width: 95%;
  margin: 0%;
  text-align: justify;
  border-radius: 10px;
}

.ongoing-applicant-img {
  display: table;
  height: 250px;
  width: 250px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}

.ongoing-applicant-name {
  position: absolute;
  display: inline-block;
  color: black;
  font-size: 32px;
  font-weight: 500;
  top: -2px;
  width: 60%;
  left: 300px;
}

.ongoing-applicant-name > span {
}

.ongoing-applicant-score {
  display: inline-block;
  margin-left: 20px;
  color: #8069ef;
  font-size: 33px;
}

.ongoing-applicant-fav {
  position: absolute;
  display: inline-block;
  top: -3%;
  right: 1%;
  color: crimson;
  font-size: 40px;
  width: 10%;
  font-weight: 500;
  text-align: right;
}

.ongoing-applicant-hashtagbax {
  position: absolute;
  height: 99px;
  overflow: hidden;
  font-size: 30px;
  color: black;
  width: 68%;
  top: 56px;
  left: 292px;
}

.ongoing-applicant-hashtagbax > span {
  float: left;
  margin: 0 2%;
}

.ongoing-applicant-btn {
  position: absolute;
  display: inline-block;
  bottom: 3%;
  left: 301px;
  width: 30%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 2rem;
  color: black;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
}
/*함께하는 뮤지션 끝*/
/*진행중 이벤트 리스트 끝*/

/*종료 이벤트 리스트 시작*/
.end {
  position: relative;
  background-color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid #8d8d8d;
  height: auto;
  min-height: 154px;
  width: 100%;
  margin-bottom: 3%;
  text-align: justify;
  color: white;
  padding-bottom: 2%;
  z-index: 1;
}

.end-date {
  position: absolute;
  display: inline-block;
  color: black;
  font-size: 35px;
  font-weight: 300;
  margin-top: 1%;
  margin-left: 4%;
  width: auto;
  white-space: nowrap;
}


/*함께한 뮤지션 시작*/
.end-dday {
	background: gray;
}

.end-musibox {
  position: relative;
  margin-top: 2%;
  color: black;
  width: 100%;
  height: 240px;
  z-index: 2;
}

.end-musibox-title {
  position: absolute;
  left: 12%;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  font-size: 32px;
  font-weight: 500;
  white-space: nowrap;
  color: #444;
}

.end-edit-btn {
  position: absolute;
  display: inline-block;
  color: #444;
  font-weight: 400;
  font-size: 4em;
  top: 7px;
  right: 2%;
  transform: translateX(3%);
}

.end-applicant-block {
  width: 100%;
  text-align: center;
}


.end-applicant-img {
  position: absolute;
  display: table;
  height: 120px;
  width: 120px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.end-applicant-name {
  position: absolute;
  display: inline-block;
  color: black;
  font-size: 32px;
  font-weight: 500;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
}


.end-applicant-btn {
  position: absolute;
  display: inline-block;
  width: 143px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 1.7rem;
  color: black;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  bottom: 3%;
  transform: translateX(-50%);
  left: 50%;
}
/*.add-review-btn {
	position: absolute;
	display: inline-block;
	right: 3%;
	background-color: #252525;
	color: white;
	font-size: 1.8em;
	padding: 0.2% 1%;
	border: 1px solid #252525;
	border-radius: 5px;
} */
/*함께한 뮤지션 끝*/
/*종료 이벤트 리스트 끝*/
